.car {
	padding: $paddingMain;
	padding-top: 64px;
	padding-bottom: 30px;
	@media (max-width: 991px) {
		padding: 20px;
	}

	h1, h2 {
		padding-bottom: 40px;
		font-family: "volvonovumlight", sans-serif;
	}
	h2 {
		@media (max-width: 991px) {
			font-size: 18px;
			line-height: 20px;
			padding-bottom: 20px;
		}
	}
	.car__link {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 1px;
		color: $colorBlack;
		margin-bottom: 10px;

		display: flex;
		align-items: center;
		justify-content: flex-end;
		span {
			display: block;
			font-family: "volvonovumregular", sans-serif;
		}
		&:hover {
			text-decoration: none;
		}
		svg {
			padding-top: 10px;
			padding-bottom: 4px;
			stroke: $colorMain;
			width: 10px;
			transform: rotate(-90deg);
		}
		@media (max-width: 991px) {
			margin: 0px;
		}
	}
	ul {
		padding: 0px;
		margin: 0px;
		li {
			list-style: none;
			text-align: right
		}
	}
	.car__right {
		font-family: "volvonovumlight", sans-serif;
		text-align: right;
		padding-bottom: 20px;
	}
}