.landing {
	.preview {
		background-image: url("../images/preview/4.png");

		h1 {
			padding-bottom: 25px;
		}
		p {
			padding-bottom: 25px;
		}
	}


	.landing__content {
		padding: $paddingMain;
		padding-top: 67px;
		padding-bottom: 67px;
		@media (max-width: 991px) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.landing__tabs {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
		.nav-item {
			width: 24%;
			padding-bottom: 50px;
			@media (max-width: 991px) {
				padding-bottom: 20px;
				width: 49%;
			}
			@media (max-width: 600px) {
				width: 100%;
			}
		}
		.nav-link {
			border-bottom: 5px solid transparent;
			border-radius: 0px;
			padding: 0px;
			&.active {
				background: none;
				border-bottom: 5px solid $colorMain;
			}
			.avto-row__item {
				padding: 0px;
			}
		}
		@media (max-width: 1200px) {
			width: 100%;
		}
	}

	.landing__first {
		p {
			width: 80%;
			margin: 0 auto;
			padding-bottom: 40px;
			@media (max-width: 991px) {
				width: 100%;
				padding-bottom: 20px;
			}
		}
	}




	.landing__item {
		border: 1px solid #D8D8D8;
	}
	.landing__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 26px 110px 10px 110px;
		span {
			font-size: 60px;
			line-height: 57px;
			font-family: 'volvobroadpro', sans-serif;
			@media (max-width: 991px) {
				font-size: 30px;
				line-height: 30px;
			}
		}
		@media (max-width: 1200px) {
			padding: 20px 40px;
		}
		@media (max-width: 991px) {
			padding: 10px 20px;
		}
	}
	.landing__right {
		span {
			display: block;
			&:first-child {
				font-size: 14px;
				line-height: 17px;
				font-family: "volvonovumlight", sans-serif;
				color: $colorBlack;
			}
			&:last-child {
				font-size: 17px;
				line-height: 21px;
				font-family: "volvonovumlight", sans-serif;
				color: $colorMain;
				border-bottom: 1px solid $colorMain;
			}
		}
	}
	.landing__preview {
		padding: 0 40px 20px 40px;
		@media (max-width: 991px) {
			padding: 0px 0px 10px 0px;
		}
	}
	.landing__body {
		padding: 26px 110px 30px 110px;
		display: flex;
		justify-content: space-between;
		span {
			font-size: 14px;
			line-height: 17px;
			color: $colorBlack;
			font-family: "volvonovumlight", sans-serif;
		}
		@media (max-width: 1200px) {
			flex-wrap: wrap;
			padding: 20px 40px;
			span {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		@media (max-width: 991px) {
			padding: 10px 20px;
		}
	}
	.landing__btns {
		padding: 26px 110px 22px 110px;
		display: flex;
		justify-content: space-between;
		.btn {
			width: 48%;
			padding-left: 6px;
			padding-right: 20px;
			svg {
				right: 6px;
			}
			&:hover {
				svg {
					right: 2px;
				}
			}
			@media (max-width: 1200px) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		@media (max-width: 1400px) {
			padding: 24px 70px;
		}
		@media (max-width: 1200px) {
			flex-wrap: wrap;
			padding: 20px 40px;
		}
		@media (max-width: 991px) {
			padding: 10px 20px;
		}
	}
	.landing__footer {
		display: flex;
		justify-content: space-between;
		background-color: #F6F6F6;
		padding: 26px 110px 22px 110px;
		.btn {
			width: 48%;
			padding-left: 6px;
			padding-right: 20px;
			border: 0px;
			svg {
				right: 6px;
			}
			&:hover {
				svg {
					right: 2px;
				}
			}
			@media (max-width: 1200px) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		@media (max-width: 1400px) {
			padding: 24px 70px;
		}
		@media (max-width: 1200px) {
			flex-wrap: wrap;
			padding: 20px 40px;
		}
		@media (max-width: 991px) {
			padding: 10px 20px;
		}
	}
	.landing__second {
		height: 518px;
		margin-bottom: 45px;
		
		background-image: url("../images/hg.png");
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		padding: 60px 50px 0 50px;
		h2 {
			padding-bottom: 50px;
			font-size: 22px;
			line-height: 28px;
			letter-spacing: 1px;
			color: $colorWhite;
			text-transform: uppercase;
		}
		p {
			padding-bottom: 50px;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 1px;
			color: $colorWhite;
			max-width: 400px;
		}


		.form {
			max-width: 500px;
			.form__row {
				label {
					color: $colorWhite;
					input {
						border: 1px solid $colorWhite;
						background: none;
						color: $colorWhite;
					}
					fieldset {
						margin-top: 10px;
						.ui-selectmenu-button.ui-button {
							width: 100%;
							border-radius: 0px;
							padding: 10px 18px;
							border: 1px solid $colorWhite;
							background: none;
							color: $colorWhite;
						}
						.ui-button .ui-icon {
							background-image: url("../images/whitecheck.svg");
							background-position: center;
							background-size: 100%;
							width: 12px;
							height: 6px;

							position: absolute;
							top: 50%;
							right: 19px;
							transform: translateY(-50%);
						}
					}
				}
			}
			.btn {
				background-color: $colorWhite;
				color: $colorMain;
				svg {
					stroke: $colorMain;
				}
			}
		}
		@media (max-width: 991px) {
			height: unset;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
	}


	.landing__third {
		height: 319px;
		background-image: url("../images/qw.png");

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		padding: 50px;
		margin-bottom: 60px;

		h2 {
			padding-bottom: 50px;
			font-size: 22px;
			line-height: 28px;
			letter-spacing: 1px;
			color: $colorWhite;
			text-transform: uppercase;
		}
		p {
			padding-bottom: 50px;
			font-size: 14px;
			line-height: 17px;
			letter-spacing: 1px;
			color: $colorWhite;
			max-width: 400px;
		}

		.btn {
			background-color: $colorMain;
			border: 0px;
			svg {
				stroke: $colorWhite;
			}
		}
		@media (max-width: 991px) {
			height: unset;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 20px;
			margin-bottom: 20px;
		}
	}
	.landing__four {
		h2 {
			max-width: 500px;
			margin: 0 auto;
			padding-bottom: 50px;

			@media (max-width: 991px) {
				font-size: 18px;
				padding-bottom: 20px;
				line-height: 26px;
			}
		}
		.ui-selectmenu-button.ui-button {
			width: 100%;
			border-radius: 0px;
			padding: 10px 18px;
			border: 1px solid #B5B5B5;
			background: none;
			color: $colorBlack;
		}
		.ui-button .ui-icon {
			background-image: url("../images/checkbox.svg");
			background-position: center;
			background-size: 100%;
			width: 12px;
			height: 6px;

			position: absolute;
			top: 50%;
			right: 19px;
			transform: translateY(-50%);
		}
		.ui-selectmenu-text {
			font-size: 14px;
			line-height: 17px;
			color: $colorBlack;
			font-family: "volvonovumlight", sans-serif;
		}
		.form {
			padding-bottom: 50px;
			@media (max-width: 991px ) {
				padding-bottom: 20px;
			}
		}
	}


	.landing__four {
		.carrun__item {
			box-shadow: unset;
			margin: 0px;
			&:hover {
				box-shadow: unset;
			}
		}
		.landing__four__item {
			margin-bottom: 70px;
			
			.landing__four__item_q {
				display: flex;
				align-items: center;
				padding-bottom: 20px;
			}
			.landing__four__name {
				font-size: 40px;
				line-height: 100%;
				font-family: 'volvobroadpro', sans-serif;

			}
			.landing__four__price {
				font-size: 16px;
				padding-left: 16px;
				line-height: 20px;
				font-family: 'volvonovumlight', sans-serif;
			}

			.landing__four_1 {
				padding-bottom: 10px;
				height: 60px;
				font-family: "volvonovummedium", sans-serif;
				font-size: 16px;
				line-height: 20px;
				display: block;
				padding-bottom: 20px;

				display: flex;
				align-items: center;
			}
			.landing__four_2 {
				font-size: 16px;
				line-height: 20px;
				color: $colorMain;
				font-family: 'volvonovumlight', sans-serif;
			}
		}
		.landing__four__description {
				font-size: 14px;
				line-height: 17px;
				font-family: 'volvonovumlight', sans-serif;
		}
	}




	.landing__five {
		height: 320px;
		background-image: url("../images/gg.png");

		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		padding: 30px 60px;
		margin-bottom: 80px;

		h2 {
			color: $colorWhite;
			padding-bottom: 20px;
			@media (max-width: 991px) {
				font-size: 18px;
				line-height: 24px;
			}
		}
		.form__row {
			label {
				max-width: 240px;
				color: $colorWhite;
				input {
					border: 1px solid $colorWhite;
					color: $colorWhite;
					background: none;
					cursor: default;
					&::-webkit-input-placeholder {
						color: $colorWhite;
					} 
					&::-moz-placeholder {
						color: $colorWhite;
					}
				}
			}
		}
		.checkbox__label {
				border-radius: 0px;
		}
		.form__info {
			color: $colorWhite;
			font-size: 12px;
			line-height: 15px;
			letter-spacing: 1px;
			font-family: 'volvonovumlight', sans-serif;
			padding-top: 3px;
		}
		.btn {
			background-color: $colorMain;
			border: 0px;
			svg {
				stroke: $colorWhite;
			}
		}
		@media (max-width: 991px) {
			height: unset;
			padding-right: 20px;
			padding-left: 20px;
			padding-bottom: 20px;

			margin-bottom: 20px;
		}
	}
}

