.preview {
	
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	height: 425px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	padding: $paddingMain;

	h1, p {
		max-width: 660px;
		color: $colorWhite;
	}
	h1 {
		font-size: 32px;
		line-height: 43px;
		
		@media (max-width: 991px) {
			font-size: 19px;
			line-height: 21px;
		}
	}

	@media (min-width: 1440px) {
		height: 50vh;
	}
	@media (max-width: 991px) {
		padding-right: 20px;
		padding-left: 20px;
	}
}