.service {
	.service__wrapper {
		padding: $paddingMain;
		padding-top: 48px;
		padding-bottom: 48px;
		@media (max-width: 991px) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.service__item {
		h2 {
			color: #494949;
			padding-bottom: 18px;
			font-family: "volvonovumlight", sans-serif;
		}
		p {
			padding-bottom: 32px;
			font-family: "volvonovumlight", sans-serif;
			&:last-child {
				padding: 0px;
			}
		}
	}
	.service__preview {
		padding-bottom: 34px;
	}
	.preview {
		background-image: url("../images/preview/1.png");
		h1 {
			padding-bottom: 25px;
		}
	}
}