.rare {
	h1 {
		padding-bottom: 25px;
	}
	.preview {
		background-image: url("../images/preview/3.png");
	}

	.rare__content {
		padding: $paddingMain;
		padding-top: 50px;
		padding-bottom: 50px;
		@media (max-width: 991px) {
			padding: 20px;
		}
	}
	.rare__filter {
		padding-bottom: 50px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width: 991px) {
			display: block;
			.rare__select {
				margin-bottom: 20px;
			}
		}
	}

	.rare__select {
		position: relative;
		z-index: 10;
		margin-right: 50px;

		select {
			font-family: "volvonovumlight", sans-serif;
			font-size: 16px;
			line-height: 21px;
			color: $colorBlack;
			border: 0px;
			padding-left: 10px;
			padding-right: 10px;

			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;

			position: relative;
			z-index: 9;

			background: none;
			&:focus {
				outline: none;
			}

		}
		option {
			display: block;
			padding: 4px 6px; 
		}

		
		&:before {
			position: absolute;
			z-index: 8;
			content: "";
			display: block;
			background-image: url("../images/checkbox.svg");
			background-repeat: no-repeat;
			background-size: 100%;
			width: 12px;
			height: 6px;

			right: 0px;
			top: calc(50% + 1px);
			transform: translateY(-50%);
		}
		&:last-child {
			margin: 0px;
		}
	}
}