$mainBGcolor: #00142C;
$mainTextColor: #DC143C;
$additionalTextColor: #FF7F50;


$colorWhite: #fff;
$colorBlack: #000;
$colorGray: #DADADA;
$colorGrayDark: #525252;
$colorMain: #1C88D0;

$paddingMain: 0px 77px;

$durationMain: 0.5s;

.container-fluid {
	padding: 0px;
}

@function darker($color, $tone) {
	$adjust: -16*$tone;
	@return adjust-color($color, $red: $adjust, $green: $adjust, $blue: $adjust);
}
@font-face {
	font-family: 'volvobroadpro';
	src: 	url('../fonts/volvobroadpro.woff') format('woff'),
			url('../fonts/volvobroadpro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "volvonovumlight";
	src: 	url("../fonts/volvo-novum-light.eot"), /* IE9 Compat Modes */
			url("../fonts/volvo-novum-light.otf") format("opentype"), /* Open Type Font */
			url("../fonts/volvo-novum-light.ttf") format("truetype"), /* Safari, Android, iOS */
			url("../fonts/volvo-novum-light.woff") format("woff"),
			url("../fonts/volvo-novum-light.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "volvonovummedium";
	src: 	url("../fonts/volvo-novum-medium.eot"), /* IE9 Compat Modes */
			url("../fonts/volvo-novum-medium.otf") format("opentype"), /* Open Type Font */
			url("../fonts/volvo-novum-medium.ttf") format("truetype"), /* Safari, Android, iOS */
			url("../fonts/volvo-novum-medium.woff") format("woff"),
			url("../fonts/volvo-novum-medium.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "volvonovumregular";
	src: 	url("../fonts/volvo-novum-regular.eot"), /* IE9 Compat Modes */
			url("../fonts/volvo-novum-regular.otf") format("opentype"), /* Open Type Font */
			url("../fonts/volvo-novum-regular.ttf") format("truetype"), /* Safari, Android, iOS */
			url("../fonts/volvo-novum-regular.woff") format("woff"),
			url("../fonts/volvo-novum-regular.woff2") format("woff2"); /* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
}

html {
	font-size: 10px;
}
body {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ALSRubl"; /* Имя шрифта */
	src: url('../fonts/ALSRubl.otf'); /* Путь к файлу со шрифтом */
}



/* Прижать футер */
.page {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
	.content {

		flex: 1 0 auto;
		overflow-x: hidden;
		@media(max-width: 991px) {
			margin-top: 116px;
		}
	}
	.footer {
		flex: 0 0 auto;
	}
}


img {
	display: block;
}
iframe{
	display: block;
}
h1 { 
	margin: 0px;
	letter-spacing: 1px;
	font-family: "volvonovumregular", sans-serif;
}
h2, .h2 {
	color: $colorBlack;
	font-size: 32px;
	line-height: 43px;
	letter-spacing: 1px;
	margin: 0px;
	font-family: "volvonovumregular", sans-serif;
}


p {
	font-size: 14px;
	line-height: 19px;
	letter-spacing: 1px;
	color: $colorBlack;
	margin: 0px;
	font-family: "volvonovumlight", sans-serif;
	@media (max-width: 991px) {
		font-size: 12px;
		line-height: 17px;
	}
}


