.form {
	.form__row {
		display: flex;
		justify-content: space-between;
		padding-bottom: 20px;
		label {
			width: 100%;
			color: $colorBlack;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 1px;
			font-family: "volvonovumlight", sans-serif;
			input {
				margin-top: 10px;
				font-size: 14px;
				line-height: 18px;
				color: $colorBlack;
			}
		}
		textarea {
			margin-top: 10px;
		}
		&.form__row_50 {
			label {
				width: 49%;
			}
			textarea {
				width: 100%;
			}

			@media (max-width: 991px) {
				flex-direction: column;
				justify-content: flex-start;
				label {
					width: 100%;
					display: block;
					margin-bottom: 20px;
				}
			}
		}
	}
	input {
		width: 100%;
		border: 1px solid #DCDCDC;
		padding: 10px 18px;
		font-family: "volvonovumlight", sans-serif;
	}
	textarea {
		display: block;

		width: 100%;
		font-size: 14px;
		line-height: 18px;
		color: $colorBlack;

		border: 1px solid #DCDCDC;
		padding: 10px 18px;

		resize: none;

		height: 150px;
		font-family: "volvonovumlight", sans-serif;
		&:focus{
			
		}
		&::-webkit-input-placeholder {
			
		} 
		&::-moz-placeholder {
			
		}
	}

	.checkbox { display: none; }
	.checkbox__label {
		cursor: pointer;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: none;
		border: 1px solid #979797;
		border-radius: 4px;
		margin-right: 6px;
		position: relative;
		padding: 2px;
	}
	.checkbox:checked + .checkbox__label:before { 
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 16px;
		height: 7px;
		content: "";
		background-image: url("../images/checkbox.svg");
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.form__info {
		font-size: 18px;
		line-height: 20px;

		color: $colorBlack;
		text-align: left;
		font-family: "volvonovumlight", sans-serif;

		@media (max-width: 991px) {
			font-size: 14px;
			line-height: 18px;
		}

	}
	a {
		font-family: "volvonovumlight", sans-serif;
		&.form__info {
			box-shadow: inset 0 -0.1rem 0 0 $colorMain;
			transition: $durationMain / 2;
			color: $colorBlack;
			&:hover {
				text-decoration: none;
				box-shadow: inset 0 -2.5rem 0 0 $colorMain;
				transition: $durationMain / 2;
				color: $colorWhite;

			}
		}
	}
}
@media (max-width: 981.99px) {
		
	flex-direction: column;
}
.close {
	font-size: 4rem;
}

