.carrun {
	.preview {
		background-image: url("../images/preview/6.png");
		h1 {
			padding-bottom: 25px;
		}
	}

	
}
.carrun__content {
		padding: $paddingMain;
		padding-top: 32px;
		padding-bottom: 84px;

		@media (max-width: 991px) {
			padding: 20px;
		}
	}
	.carrun__item {
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
		transition: $durationMain;
		margin-bottom: 30px;
		&:hover {
			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
			transition: $durationMain;
		}
	}
	.carrun__preview {
		position: relative;
		overflow: hidden;
	}
	.carrun__images {
		overflow: hidden;
		img {
			position: absolute;
			top: 0px;
			left: 0px;
			z-index: 8;
			opacity: 0;
			transition: $durationMain / 1.4;
			&:first-child {
				position: unset;
			}
			&.active {
				z-index: 9;
				opacity: 1;
				transition: $durationMain / 1.4;
			}
		}
	}
	.carrun__dots {
		position: absolute;
		display: flex;
		justify-content: center;
		bottom: 0px;
		left: 0px;
		right: 0px;
		padding-bottom: 9.5px;
		z-index: 10;
	}
	.carrun__dot {
		width: 47px;
		height: 2px;
		background-color: #F7F7F7;
		display: block;
		transition: $durationMain;
		cursor: pointer;
		margin-right: 7px;
		.carrun__dot_active {
			background-color: rgba(247, 247, 247, 0.4);
			transition: $durationMain;
		}
		&:last-child {
			margin-right:  0px;
		}
	}
	.carrun__wrapper {
		padding: 13px 23px ;
	}
	.carrun__title {
		font-size: 14px;
		line-height: 18px;
		letter-spacing: 1px;
		font-family: "volvonovumlight", sans-serif;
		padding-bottom: 10px;
		span {
			font-size: 14px;
			line-height: 18px;
			letter-spacing: 1px;
			font-family: "volvonovumregular", sans-serif;
		}
	}
	.carrun__setting {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 10px;
		span {
			font-size: 12px;
			line-height: 18px;
			letter-spacing: 1px;
			color: #737373;
		}
	}
	.carrun__price {
		display: block;
		font-size: 20px;
		line-height: 18px;
		letter-spacing: 1px;
		font-family: "volvonovumregular", sans-serif;
		padding-bottom: 14px;
	}
	.carrun__list {
		@media (min-width: 1300px) {
			padding-left: 10%;
		}
	}
.sort {
	display: flex;
	justify-content: center;
	.sort__item {
		color: $colorBlack;
		font-size: 16px;
		line-height: 18px;
		font-family: "volvonovumlight", sans-serif;
		letter-spacing: 1px;
		margin-right: 30px;
		&:hover {
			text-decoration: none;
		}
		svg {
			margin-left: 4px;
			width: 14px;
			stroke: $colorMain;
			transition: $durationMain / 2;
		}
		&:last-child {
			margin: 0px;
		}
		&[data-dir="asc"] {
			svg {
				transform: scale(1, -1);
				transition: $durationMain / 2;
			}
		}
	}

}

.filter {

	fieldset {
		margin-bottom: 14px;
	}
	.filter__pad {
		border: 1px solid #dadada;
		width: 100%;

		padding: 16px 19px;
	}
	.filter__text {
		font-size: 16px;
		line-height: 18px;
		letter-spacing: 1px;
		color: $colorBlack;
		font-family: "volvonovumlight", sans-serif;
	}
	.ui-selectmenu-button.ui-button {
		background: none;
		border: 1px solid #DADADA;
		padding: 16px 19px;
		width: 100%;
		position: relative;

		font-size: 16px;
		line-height: 18px;
		letter-spacing: 1px;
		color: $colorBlack;
		font-family: "volvonovumlight", sans-serif;
	}
	.ui-button .ui-icon {
		background-image: url("../images/checkbox.svg");
		background-position: center;
		background-size: 100%;
		width: 12px;
		height: 6px;

		position: absolute;
		top: 50%;
		right: 19px;
		transform: translateY(-50%);
	}
	.ui-slider-range.ui-corner-all.ui-widget-header {
		background-color: $colorMain;
	}
	.price__out, .year__out, .run__out {
		display: flex;
		justify-content: space-between;
	}
	@media (min-width: 1300px) {
		padding-right: 10%;
	}
}

.ui-menu .ui-menu-item-wrapper {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 1px;
	color: $colorBlack;
	font-family: "volvonovumlight", sans-serif;
}
.ui-menu .ui-menu-item-wrapper.ui-state-active {
	border: 0px;
	background-color: $colorMain;
}

.filter__color {
	display: block;
	margin-right: 12px;
	cursor: pointer;
	input {
		display: none;
	}
	span {
		display: block;
		width: 25px;
		height: 25px;
		background-color: red;
		border-radius: 100%;
	}
	input:checked span {

	}
	&:last-child {
		margin: 0px;
	}
}