.contentpage {
	.preview {
		background-image: url("../images/preview/5.png");

		h1 {
			padding-bottom: 25px;
		}
		p {
			padding-bottom: 25px;
		}
	}


	.contentpage__content {
		padding: $paddingMain;
		padding-top: 67px;
		padding-bottom: 67px;

		h2 {
			font-size: 22px;
			line-height: 28px;
			padding-bottom: 40px;
			font-family: "volvonovumlight", sans-serif;
			@media (max-width: 991px) {
				font-size: 16px;
				line-height: 20px;
				padding-bottom: 10px;
			}
		}


		@media (max-width: 991px) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	.service__item {
		h2 {
			color: #494949;
			padding: 18px 0 15px 0;
		}
		p {
			padding-bottom: 15px;
		}
	}
	.contentpage__content__right {
		padding-right: 140px;
		@media (max-width: 991px) {
			padding-right: 0px;
		}
	}

	.contentpage__content__left {
		padding-left: 140px;
		@media (max-width: 991px) {
			padding-left: 15px;
		}
	}

	.contentpage__first {
		padding-top: 70px;
		@media (max-width: 991px) {
			padding-top: 30px;
		}
	}

	.contentpage__second {
		padding-top: 95px;
		h2 {
			font-size: 32px;
			line-height: 40px;
		}
		p {
			width: 70%;
			margin: 0 auto;
		}
		@media (max-width: 991px) {
			padding-top: 30px;
			h2 {
				font-size: 24px;
				line-height: 28px;
			}
			p {
				width: 100%;
			}
		}
	}


	.contentpage__third {
		padding-top: 120px;
		h3 {
			font-size: 22px;
			line-height: 27px;
			color: $colorBlack;
			padding-top: 16px;
			padding-bottom: 20px;
			font-family: "volvonovumlight", sans-serif;
			@media (max-width: 991px) {
				font-size: 16px;
				line-height: 20px;
			}
		}
		p {
			font-family: "volvonovumlight", sans-serif;
		}
		@media (max-width: 991px) {
			padding-top: 30px;
		}
	}

	.contentpage__four {
		padding: 100px 0 30px 0;
		p {
			width: 40%;
			margin: 0 auto;
			font-size: 9px;
			line-height: 11px;
		}
		@media (max-width: 991px) {
			padding: 30px 0;
			p {
				width: 90%;
			}
		}
		@media (max-width: 600px) {
			p {
				width: 100%;
			}
		}
	}


}