.btn {
	background: none;
	border: 0px;
	border-radius: 0px;
	cursor: pointer;

	border: 1px solid $colorWhite;
	padding: 17px 54px 17px 40px;

	color: $colorWhite;
	font-size: 14px;

	position: relative;
	transition: $durationMain / 2;
	font-family: "volvonovumregular", sans-serif;

	&:focus {
		outline: none;
	}
	&:hover {
		text-decoration: none;

		color: $colorBlack;
		background-color: $colorWhite;
		transition: $durationMain / 2;
		svg {
			transition: $durationMain / 2;
			right: 24px;
			path {
				stroke: $colorBlack;
				transition: $durationMain / 2;
			}
		}
	}
	&:active {
		transform: scale(0.95);
		svg {
			top: calc(50% - 2.6px);
		}
	}
	@media (max-width: 991px) {
		padding: 16px 50px 16px 20px;
	}
	@media (max-width: 600px) {
		//width: 100%;
	}

	svg {
		position: absolute;
		top: calc(50% - 1px);
		right: 30px;
		width: 10px;
		transform: rotate(-90deg) translateY(-50%);
		transition: $durationMain / 2;
		path {
			transition: $durationMain / 2;
		}
	}

	&.btn_color-main {
		border-color: $colorMain;
		color: $colorMain;
		svg {
			stroke: $colorMain;
		}

		&.full {
			background-color: $colorMain;
			color: $colorWhite;
			svg {
				stroke: $colorWhite;
			}
		}
	}
	&.btn_fat {
		padding: 15px 79px 15px 65px;
		font-size: 16px;
		line-height: 18px;
		svg {
			right: 50px;
		}
		&:hover {
			svg {
				right: 40px;
			}
		}
		&.btn_fat_mob {
			@media (max-width: 991px) {
				display: block;
				margin: 0 auto;
				max-width: unset;
				width: 90px;
	    		padding-right: 20px;
	    		svg {
	    			right: 0px;
	    		}
			}
		}	
	}
	&.btn_no-border {
		border: 0px;
		padding-left: 0px;
	}
}

a {
	&.btn {
		color: #FFFFFF;
	}
}







.btn-to-top {
	z-index: 4;
	position: fixed;
	bottom: 10%;
	right: -20%;
	cursor: pointer;
	transition: right 0.5s;
	&.btn-to-top_active {
		right: 2%;
		transition: right 0.5s;
	}
	.btn-to-top__content {
		width: 50px;
		height: 50px;
		background-color: $mainTextColor;
		border-radius: 100%;
	}
	.card_item_arrow {
		transform: rotate(180deg);
		z-index: 10;
		width: 20px;
		height: 20px;
		fill: #fff;
	}
}






