.modal {
	iframe {
		border: 0px;
	}
	.modal-content {
		padding: 30px 40px;
	}
	.close {
		position: absolute;
		right: 20px;
		top: 10px;
	}
	.modal-header {
		border: 0px;
	}
	.modal-title {
		padding-bottom: 30px;
		font-size: 22px;
		line-height: 28px;
		color: $colorBlack;
		font-family: "volvonovumlight", sans-serif;
		@media (max-width: 991px) {
			padding-bottom: 20px;
		}
	}
	p {
		text-align: center;
		padding-bottom: 40px;
		@media (max-width: 991px) {
			padding-bottom: 20px;
		}
	}
	.form {
		.btn {
			background-color: $colorMain;
		}
	}
}