.breadcrumb {
	padding: 0px;
	margin: 0px;
	background: none;

	.breadcrumb-item {
		a {
			color: $colorMain;
			font-size: 12px;
			line-height: 15px;
			font-family: "volvonovumlight", sans-serif;
			&:hover {
				color: $colorMain;
				text-decoration: none;
			}
		}
		&.active {
			color: $colorMain;
			font-size: 12px;
			line-height: 15px;
			font-family: "volvonovumlight", sans-serif;
		}
	}
	.breadcrumb-item+.breadcrumb-item::before {
		content: "—";
		color: $colorMain;
	}
}
