div(class="container-fluid")
	div(class="row")
		div(class="col-12")
			div(class="callback__content")
				h2()
					| Свяжитесь с нами
				form(class="form")
					div(class="row")
						div(class="col-12 col-lg-6")
							div(class="form__row form__row_50")
								label
									| Фамилия
									input(class="" type="text" placeholder="")
								label
									| Имя
									input(class="" type="text" placeholder="")
							div(class="form__row")
								label
									| Тема сообщения
									input(class="" type="text" placeholder="")
							div(class="form__row")
								label
									| Ваше сообщение
									textarea()
							<div class=" d-flex align-items-start justify-content-start pb-5">
								<label class="m-0">
									<input class="checkbox" type="checkbox" id="checkbox" checked="" aria-label="Checkbox for following text input"><span class="checkbox__label" for="checkbox"></span>
								</label>
								<p class="form__info">Согласие на обработку <a class="form__info" href="#">персональных данных</a></p>
							</div>
						div(class="col-12 col-lg-6")
							div(class="form__row")
								label
									| Телефон
									input(class="" type="tel" placeholder="")
							div(class="form__row")
								label
									| Email
									input(class="" type="email" placeholder="")
					div()
						button(class="btn btn_color-main btn_fat")
							| Отправить
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>