footer(class="footer")
	div(class="container-fluid")
		div(class="row")
			div(class="col-12")
				nav(class="d-none d-lg-flex navigation")
					each val, index in menuItems
						if(index == 0)
							div(class="navigation__item navigation__item_active navigation__item_dropdown" )
								a(href="#")
									= val
								div(class="header__deep")
									a(href="#")
										| Финансовые услуги
									a(href="#")
										| Персональное предложение
									a(href="#")
										| Спецпредложения
									a(href="#")
										| Финансовые услуги
						else
							a(class="navigation__item" href="#") #{val}
				div(class="d-lg-none navigation__mobile")
						each val, index in menuItems
							if(index < 2)
								div(class="navigation__item navigation__item_dropdown_mobile mb-4" )
									div(class="d-flex justify-content-between")
										a(href="#" class="navigation__item")
											= val
										span(class="navigation__item_arrow")
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.6 4.025">
												<path  data-name="Path Copy 2" d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
											</svg>
									div(class="header__deep")
										div(class="d-flex justify-content-center")
											a(href="#")
												| Финансовые услуги
										div(class="d-flex justify-content-center")
											a(href="#")
												| Персональное предложение
										div(class="d-flex justify-content-center")
											a(href="#")
												| Спецпредложения
										div(class="d-flex justify-content-center")
											a(href="#")
												| Финансовые услуги
							else
								div(class=" mb-4 d-flex justify-content-center")
									a(class="navigation__item" href="#") #{val}
			div(class="col-12 d-flex justify-content-center")
				a(class="footer__name" href="#")
					span
						| Название дилера
			div(class="col-12 d-flex justify-content-center")
				a(class="footer__name" href="#")
					span
						| Адрес дилера
			div(class="col-12")
				div(class="social")
					a(href="#" class="social__item")
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<g>
								<g>
									<path d="M352,0H160C71.648,0,0,71.648,0,160v192c0,88.352,71.648,160,160,160h192c88.352,0,160-71.648,160-160V160 C512,71.648,440.352,0,352,0z M464,352c0,61.76-50.24,112-112,112H160c-61.76,0-112-50.24-112-112V160C48,98.24,98.24,48,160,48 h192c61.76,0,112,50.24,112,112V352z"/>
								</g>
							</g>
							<g>
								<g>
									<path d="M256,128c-70.688,0-128,57.312-128,128s57.312,128,128,128s128-57.312,128-128S326.688,128,256,128z M256,336c-44.096,0-80-35.904-80-80c0-44.128,35.904-80,80-80s80,35.872,80,80C336,300.096,300.096,336,256,336z"/>
								</g>
							</g>
							<g>
								<g>
									<circle cx="393.6" cy="118.4" r="17.056"/>
								</g>
							</g>
						</svg>
					a(href="#" class="social__item")
						<svg version="1.1"xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
							<g>
								<g>
									<path d="M490.24,113.92c-13.888-24.704-28.96-29.248-59.648-30.976C399.936,80.864,322.848,80,256.064,80c-66.912,0-144.032,0.864-174.656,2.912c-30.624,1.76-45.728,6.272-59.744,31.008C7.36,138.592,0,181.088,0,255.904C0,255.968,0,256,0,256c0,0.064,0,0.096,0,0.096v0.064c0,74.496,7.36,117.312,21.664,141.728c14.016,24.704,29.088,29.184,59.712,31.264C112.032,430.944,189.152,432,256.064,432c66.784,0,143.872-1.056,174.56-2.816c30.688-2.08,45.76-6.56,59.648-31.264C504.704,373.504,512,330.688,512,256.192c0,0,0-0.096,0-0.16c0,0,0-0.064,0-0.096C512,181.088,504.704,138.592,490.24,113.92z M192,352V160l160,96L192,352z"/>
								</g>
							</g>
						</svg>
					a(href="#" class="social__item")
						<svg viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
							<path d="m437 0h-362c-41.351562 0-75 33.648438-75 75v362c0 41.351562 33.648438 75 75 75h151v-181h-60v-90h60v-61c0-49.628906 40.371094-90 90-90h91v90h-91v61h91l-15 90h-76v181h121c41.351562 0 75-33.648438 75-75v-362c0-41.351562-33.648438-75-75-75zm0 0"/>
						</svg>
					a(href="#" class="social__item")
						<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 511.962 511.962" style="enable-background:new 0 0 511.962 511.962;" xml:space="preserve">
							<g>
								<g>
									<path d="M507.399,370.471c-1.376-2.304-9.888-20.8-50.848-58.816c-42.88-39.808-37.12-33.344,14.528-102.176c31.456-41.92,44.032-67.52,40.096-78.464c-3.744-10.432-26.88-7.68-26.88-7.68l-76.928,0.448c0,0-5.696-0.768-9.952,1.76c-4.128,2.496-6.784,8.256-6.784,8.256s-12.192,32.448-28.448,60.032c-34.272,58.208-48,61.28-53.6,57.664c-13.024-8.416-9.76-33.856-9.76-51.904c0-56.416,8.544-79.936-16.672-86.016c-8.384-2.016-14.528-3.36-35.936-3.584c-27.456-0.288-50.72,0.096-63.872,6.528c-8.768,4.288-15.52,13.856-11.392,14.4c5.088,0.672,16.608,3.104,22.72,11.424c7.904,10.72,7.616,34.848,7.616,34.848s4.544,66.4-10.592,74.656c-10.4,5.664-24.64-5.888-55.2-58.72c-15.648-27.04-27.488-56.96-27.488-56.96s-2.272-5.568-6.336-8.544c-4.928-3.616-11.84-4.768-11.84-4.768l-73.152,0.448c0,0-10.976,0.32-15.008,5.088c-3.584,4.256-0.288,13.024-0.288,13.024s57.28,133.984,122.112,201.536c59.488,61.92,127.008,57.856,127.008,57.856h30.592c0,0,9.248-1.024,13.952-6.112c4.352-4.672,4.192-13.44,4.192-13.44s-0.608-41.056,18.464-47.104c18.784-5.952,42.912,39.68,68.48,57.248c19.328,13.28,34.016,10.368,34.016,10.368l68.384-0.96C488.583,400.807,524.359,398.599,507.399,370.471z"/>
								</g>
							</g>
						</svg>
			div(class="col-12")
				div(class="footer__down")
					each val, index in ['Cookies', 'Юридическая информация', 'Конфиденциальность и персональные данные']
						a(href="#" class="footer__link")
							= val
