header(class="header")
	div(class="container-fluid")
		div(class="header__first")
			div(class="row")
				div(class="col-4 col-lg-5 d-flex align-items-center")
					span(class="dealer")
						| Название дилера
				div(class="col-4 col-lg-2 d-flex justify-content-center align-items-center")
					a(href="#" class="logo")
						img(class="lazyload" data-src="images/logo.png" alt="logo")
				div(class="col-lg-5 d-none d-lg-flex justify-content-end align-items-center ")
					span(class="header__adres")
						| Бульвар Рокоссовского 28
					a(class="phone" href="tel:+74957777777")
						| +7 495 777 77 77
				div(class="col-4 d-flex d-lg-none justify-content-end align-items-center ")
					a(href="tel:+74957777777")
						img(class="lazyload" data-src="images/phonemenu.svg")
		div(class="header__second")
			div(class="row")
				div(class="col-12")
					div(class="d-block d-lg-none navigation__item navigation__item_mob")
						| item
					div(class="d-lg-none navigation__mobile")
						each val, index in menuItems
							if(index < 2)
								div(class="navigation__item navigation__item_dropdown_mobile" )
									div(class="d-flex justify-content-between")
										a(href="#" class="navigation__item")
											= val
										span(class="navigation__item_arrow")
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8.6 4.025">
												<path  data-name="Path Copy 2" d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
											</svg>

									div(class="header__deep")
										a(href="#")
											| Финансовые услуги
										a(href="#")
											| Персональное предложение
										a(href="#")
											| Спецпредложения
										a(href="#")
											| Финансовые услуги
							else
								div
									a(class="navigation__item" href="#") #{val}
					nav(class="d-none d-lg-flex navigation")
						each val, index in menuItems
							if(index == 0)
								div(class="navigation__item navigation__item_active navigation__item_dropdown" )
									a(href="#")
										= val
									div(class="header__deep")
										a(href="#")
											| Финансовые услуги
										a(href="#")
											| Персональное предложение
										a(href="#")
											| Спецпредложения
										a(href="#")
											| Финансовые услуги
							else
								a(class="navigation__item" href="#") #{val}