div(class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="modalCallTitle" aria-hidden="true")
	div(class="modal-dialog h-100 d-flex flex-column justify-content-center align-items-center" role="document")
		div(class="modal-content")
			button(type="button" class="close" data-dismiss="modal" aria-label="Close")
				span(aria-hidden="true")
					| &times;
			div(class="modal-header")
				span
					| Форма заявки
			div(class="modal-body")
				form(class="form")
					input(type="text" placeholder="Имя*")
					input(type="tel" class="my-4" placeholder="Телефон*")
					div(class="d-flex align-items-start justify-content-center py-3 pb-4")
						label(class="m-0")
							input(type="checkbox" id="checkbox" class="checkbox" aria-label="Checkbox for following text input")
							span(for="checkbox" class="checkbox__label")
						p( class="form__info")
							| Согласен с политикой обработки
							a(href="#" class="form__info")
								| персональных данных
					div(class="d-flex justify-content-center w-100")
						button(class="btn btn__flare" type="submit" )
							| Записаться