div(class="preview")
	h1(class="text-center")
		= title
	p(class="text-center")
		= description
	- if (btn)
		a(class="btn btn_color-main full")
			| Получить предложение
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
				<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
			</svg>