div(class="sidebar")
	a(class="sidebar__link" href="#" data-toggle="modal" data-target=".test")
		img(class="lazyload" data-src="images/car.svg" alt="car")
		span()
			| Запись на<br>тест-драйв
	a(class="sidebar__link" href="#" data-toggle="modal" data-target=".callback")
		img(class="lazyload" data-src="images/phone.svg" alt="car"  )
		span()
			| Заказать<br>звонок