// Пустые span'ы удалить. Пожалуйста.
div(class="slider slider_avto")
	- arr = ["CROSS COUNTRY", 'CROSS COUNTRY', 'CROSS COUNTRY', '', '']
	each val, index in ['v60', 'v90', 'v40', 'xc90', 'xc90']
		div()
			div(class="avto-row__item")
				div(class="avto-row__title")
					div(class="d-flex align-items-center")
						span(class="avto-row_1")
							= val
						span(class="avto-row_2")
							= arr[index]
					span(class="avto-row_3")
						| от<br>2 820 000 <b>Ꝑ</b>
				div(class="avto-row__preview")
					img(data-lazy="http://via.placeholder.com/256x92" alt="img" class="w-100")
				div(class="pt-4")
					a(href="#" class="avto-row__link")
						span
							| Авто в наличии
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
							<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
						</svg>
					a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
						span
							| Конфигуратор
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
							<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
						</svg>
					a(href="#" class="avto-row__link")
						span
							| Цены
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
							<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
						</svg>
					a(href="#" class="avto-row__link")
						span
							| Тест-драйв
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
							<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
						</svg>
					a(href="#" class="avto-row__link")
						span
							| Карточка модели
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
							<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
						</svg>