div(class="slider-news")
	div(class="slider slider_news")
		- for (var i = 0; i < 3; i++)
			div(class="d-block")
				div(class="slider__item")
					div(class="slider-news__item slider-news__item_width")
						img(data-lazy="images/news/slide1.png" alt="img")
						a(class="slider-news__deep" href="#")
							span
								| 24.10.2019
							span(class="slider-news__title")
								| Volvo XC90 стал победителем премии «Внедорожник года 2019»
					div(class="slider-news__item")
						img(data-lazy="images/news/slide1.png" alt="img")
						a(class="slider-news__deep" href="#")
							span
								| 24.10.2019
							span(class="slider-news__title")
								| Volvo XC90 стал победителем премии «Внедорожник года 2019»
					div(class="slider-news__item")
						img(data-lazy="images/news/slide2.png" alt="img")
						a(class="slider-news__deep" href="#")
							span
								| 24.10.2019
							span(class="slider-news__title")
								| Volvo XC90 стал победителем премии «Внедорожник года 2019»
							span(class="slider-news__description")
								| «Внедорожник года» — экспертная премия, учрежденная журналом «Клуб 4×4» в 2005 году. Каждый год
					div(class="slider-news__item")
						img(data-lazy="images/news/slide3.png" alt="img")
						a(class="slider-news__deep" href="#")
							span
								| 24.10.2019
							span(class="slider-news__title")
								| Volvo XC90 стал победителем премии «Внедорожник года 2019»
							span(class="slider-news__description")
								| «Внедорожник года» — экспертная премия, учрежденная журналом «Клуб 4×4» в 2005 году. Каждый год выбирать лучшие автомобили приглашаются два жюри: одно из
					div(class="slider-news__item")
						img(data-lazy="images/news/slide4.png" alt="img")
						a(class="slider-news__deep" href="#")
							span
								| 24.10.2019
							span(class="slider-news__title")
								| Volvo XC90 стал победителем премии «Внедорожник года 2019»
	div(class="slider-news__content")
		h2()
			| Официальный дилер Volvo в Екатеринбурге
		p
			| Volvo Car Автолидер представляет комфортабельные, безопасные и надежные автомобили. В нашем автосалоне предлагается вся линейка Volvo: кроссоверы, cеданы, а также легендарные универсалы Cross Country.
		p
			| Официальный дилер Volvo в Екатеринбурге предлагает безупречный сервис только с сертифицированным персоналом, а также выгодные условия на покупку автомобилей. Каждому клиенту доступны акции, специальные условия и персональные предложения.
	div(class="d-lg-none pt-4")
		div(class="row")
			div(class="col-12 mb-4")
				div(class="slider-news__item")
					img(class="lazyload w-100" data-src="images/news/slide1.png" alt="img")
					a(class="slider-news__deep" href="#")
						span
							| 24.10.2019
						span(class="slider-news__title")
							| Volvo XC90 стал победителем премии «Внедорожник года 2019»
			div(class="col-6 pr-2")
				div(class="slider-news__item")
					img(class="lazyload" data-src="images/news/slide2.png" alt="img")
					a(class="slider-news__deep" href="#")
						span
							| 24.10.2019
						span(class="slider-news__title")
							| Volvo XC90 стал победителем премии «Внедорожник года 2019»
			div(class="col-6  pl-2")
				div(class="slider-news__item")
					img(class="lazyload" data-src="images/news/slide3.png" alt="img")
					a(class="slider-news__deep" href="#")
						span
							| 24.10.2019
						span(class="slider-news__title")
							| Volvo XC90 стал победителем премии «Внедорожник года 2019»



