div(class="slider slider_welcome")
	-for(var i = 0; i < 5; i++)
		div(class="slider__item")
			img(src="images/slider.png")
			div(class="slider__content")
				span(class="slider__title")
					| VOLVO XC40 -	#{i}
				span(class="slider__subtitle")
					| Спецпредложения действительное сегодня Volvo XC40
				span(class="slider__description")
					| Спецпредложения действительное сегодня Volvo XC40
				a(class="btn" href="#")
					| Персональное предложение
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
						<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"  stroke="#fff" stroke-miterlimit="10" stroke-width="1"/>
					</svg>
