.footer {
	padding: $paddingMain;
	padding-top: 24px;
	padding-bottom: 50px;

	background-color: $colorBlack;

	.navigation {
		padding-bottom: 48px;
	}
	.navigation__item {
		padding-bottom: 4px;
	}
	.navigation__mob {

	}
	&__name {
		border: 1px dashed #979797;
		padding: 6px 0 5px 0;
		max-width: 311px;
		width: 100%;
		margin-bottom: 14px;

		display: flex;
		justify-content: center;
		align-items: center;
		span {
			font-size: 14px;
			line-height: 18px;
			color: $colorWhite;
		}

		&:hover {
			text-decoration: none;
		}
	}
	&__down {
		display: flex;
		justify-content: center;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: center;
		}
	}
	&__link {
		color: $colorWhite;
		font-size: 14px;
		line-height: 18px;
		margin-right: 61px;
		position: relative;

		transition: $durationMain / 2;
		&:hover {
			color: $colorMain;
			text-decoration: none;
			transition: $durationMain / 2;
		}

		&:before {
			position: absolute;
			content: "";
			right: -30px; top: 0px; bottom: 0px;

			display: block;
			width: 1px;
			background-color: $colorWhite;
		}

		&:last-child {
			margin: 0px;
			&:before {
				display: none;
			}
		}
		@media (max-width: 991px) {
			max-width: 180px;
			text-align: center;
			margin: 0px;
			margin-bottom: 23px;
			&:before {
				display: none;
			}
		}
	}
	.header__deep {
		display: none;
		& > div {
			padding-top: 10px;
		}
	}
	.navigation__mobile {
		.navigation__item {
			margin-right: 0px;
			margin-left: 0px;
			padding: 0px;
			& > div {
				justify-content: center!important;
			}
			&.navigation__item_dropdown_mobile {
				margin-bottom: 1.5rem!important;
				svg {
					margin-left: 6px;
				}
			}
		}
	}
	
	.navigation__item_arrow {
		width: 14px;
		transition: $durationMain / 2;
		&.navigation__item_arrow_active {
			transform: scale(1, -1);
			transition: $durationMain / 2;
		}
	}
	@media (max-width: 991px) {
		padding: 20px 22px;
	}
}
