.sidebar {
	position: fixed;
	top: 50%;
	right: -130px;
	z-index: 20;
	transform: translateY(-50%);

	background-color: $colorMain;
	padding: 2px 10px 2px 2px;
	transition: $durationMain / 1.1;
	img {
		width: 34px;
	}
	&__link {
		padding: 14px 6px;

		display: flex;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		font-family: "volvonovumregular", sans-serif;
		span {
			padding-left: 14px;
			padding-right: 40px;
			color: $colorWhite;
			font-size: 14px;
			line-height: 18px;
			transition: $durationMain;
		}
		&:last-child {
			border: 0px;
		}
		&:hover {
			text-decoration: none;
			
			span {
				color: $colorBlack;
				transition: $durationMain;
			}
		}
	}
	&:hover {
		transition: $durationMain / 1.1;
		right: 0px;
	}
}