- var menuItems = ['Автомобили', 'Покупателям', 'Владельцам', 'Спецпредложения', 'Конфигуратор', 'Контакты'];


doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		link(rel="stylesheet" href="css/main.min.css")

		link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")

		title Volvo
	body
		div(class="page")
			include components/header.pug
			div(class="content")
				block content
		include components/modal.pug
		include components/btnTop.pug
		include components/footer.pug
		include components/sidebar.pug
		<div class="modal fade test" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header d-flex justify-content-center align-items-center">
						<h5 class="modal-title" id="exampleModalLabel">Запись Тест-драйв</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						iframe(src="https://www.volvocars.com/ru/buy/design-and-buy/DLBi%20Testdrive%20dealer%20page?dealerId=AD4X7&amp;iframe=1" width="100%" height="400px")
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade callback" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header d-flex justify-content-center align-items-center">
						<h5 class="modal-title" id="exampleModalLabel">ФОРМА ОБРАТНОЙ СВЯЗИ</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						p
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						form(class="form")
							div(class="form__row form__row_50")
								label
									| Имя
									input(class="" type="text" placeholder="")
								label
									| Телефон
									input(class="" type="tel" placeholder="")
							div(class="d-flex justify-content-center")
								button(class="btn")
									| Отправить
					</div>
				</div>
			</div>
		</div>
	script(src="js/main.min.js")

