extends base.pug
block content
	div(class="car")
		div(class="container-fluid")
			div(class="row")
				div(class="col-lg-9 order-2 order-lg-1 pt-5 pt-lg-0")
					h1(class="h2")
						| Седаны 
					div(class="row pb-5")
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| s60
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| s60
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
					div(class="row pb-5")
						div(class="col-12")
							h2
								| CROSS COUNTRY
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| v60
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| v90
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| v40
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
					div(class="row pb-5")
						div(class="col-12")
							h2
								| КРОССОВЕРЫ И ВНЕДОРОЖНИКИ
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| xc90
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| xc60
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
						div(class="col-lg-4 pb-5")
							div(class="avto-row__item")
								div(class="avto-row__title")
									div(class="d-flex align-items-center")
										span(class="avto-row_1")
											| xc40
									span(class="avto-row_3")
										| от<br>2 820 000 <b>Ꝑ</b>
								a(class="avto-row__preview" href="#")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								div(class="pt-4")
									a(href="#" class="avto-row__link")
										span
											| Авто в наличии
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="https://www.volvocars.com/ru/configurator-volvo" class="avto-row__link")
										span
											| Конфигуратор
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Цены
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Тест-драйв
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
									a(href="#" class="avto-row__link")
										span
											| Карточка модели
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
										</svg>
				div(class="col-lg-3 order-1 order-lg-2")
					h2(class="car__right")
						| Узнать больше 
					ul
						li
							a(class="car__link" href="#")
								span
									| Сервис 1
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
								</svg>
						li
							a(class="car__link" href="#")
								span
									| Сервис 2
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
								</svg>
						li
							a(class="car__link" href="#")
								span
									| Сервис 3
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
								</svg>