extends base.pug
block content
	include components/welcomeSliderBig.pug
	div(class="carcopycard")
		div(class="container-fluid")
			div(class="row credit d-none d-lg-flex")
				div(class="col-6 pr-0 credit__left")
					img(class="lazyload" data-src="images/credit.png" alt="img")
				div(class="col-6 pl-0 credit__right")
					span(class="credit__type")
						| VOLVO XC 60
					h1(class="h2")
						| Программа кредитования Volvo XC40 со ставкой 2,9%
					p
						|Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь наших клиентов проще и удобнее. Так будет выглядеть сервис Volvo в скором будущем. Все больше и больше дилеров переходят на работу по новой схеме. Скоро данными преимуществами сможете воспользоваться и вы.
					div(class="credit__wrapper")
						div(class="row")
							div(class="col-4")
								div
									span
										| Специальные цены
									span
										| от 1 800 000 ₽
							div(class="col-4 d-flex justify-content-center")
								div
									span
										| Trade in
									span
										| до 500 000 ₽
							div(class="col-4 d-flex justify-content-end")
								div
									span
										| Кредитование
									span
										| 6%
					a(href="#" class="btn btn_color-main btn_fat")
						| Подробнее
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
							<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
						</svg>
			div(class="credit credit_no")
				div(class="row")
					div(class="col-12 col-lg-6 px-0 pl-lg-3 order-2 order-lg-1")
						div(class="slider slider_preview")
							- for (var i = 0; i < 4; i++)
								div()
									img(class="w-100" data-lazy="http://via.placeholder.com/636x311" alt="img")
					div(class="col-12 col-lg-6 pb-5 pb-lg-0 pl-0 credit__right order-1 order-lg-2")
						h2
							| Экстерьер
						p
							| Volvo XC40 — автомобиль, который обладает всем необходимым для комфортного вождения. Он прекрасно вписывается в городскую среду благодаря компактным размерам и современному внешнему виду. Автомобиль оснащен комплексом систем безопасности, которые помогают снизить стресс от движения в городском потоке, комфортно выехать из двора и легко припарковаться. Продуманная организация пространства, наличие больших и удобных ниш для хранения в салоне позволят расположить в XC40 всё необходимое. Интуитивно понятные технологии, большой центральный сенсорный дисплей создают ощущение полного контроля и связи с современным цифровым миром.
						a(href="#" class="btn btn_color-main btn_fat btn_no-border btn_fat_mob")
							| Подробнее
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
			div(class="credit credit_no credit_left")
				div(class="row")
					div(class="col-12 col-lg-6 pb-5 pb-lg-0 pr-0 credit__right")
						h2
							| Интерьер
						p
							| Volvo XC40 — автомобиль, который обладает всем необходимым для комфортного вождения. Он прекрасно вписывается в городскую среду благодаря компактным размерам и современному внешнему виду. Автомобиль оснащен комплексом систем безопасности, которые помогают снизить стресс от движения в городском потоке, комфортно выехать из двора и легко припарковаться. Продуманная организация пространства, наличие больших и удобных ниш для хранения в салоне позволят расположить в XC40 всё необходимое.
						a(href="#" class="btn btn_color-main btn_fat btn_no-border btn_fat_mob")
							| Подробнее
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
					div(class="col-12 col-lg-6 px-0 pr-lg-3 order-2 order-lg-1")
						div(class="slider slider_preview")
							- for (var i = 0; i < 4; i++)
								div()
									img(class="w-100" data-lazy="http://via.placeholder.com/636x311" alt="img")
			div(class="all")
				div(class="container-fluid")
					div(class="row")
						div(class="col-12")
							h2(class="text-center pb-lg-5")
								| Создан для вас, как и любой Volvo
					div(class="row justify-content-between pt-5")
						-for (var i = 0; i < 3; i++)
							div(class="col-12 col-lg-6 col-xl-3 pb-5")
								div(class="all__item")
									div(class="all__preview")
										img(class="lazyload w-100" data-src="http://via.placeholder.com/340x206" alt="img")
									h2
										| Всему свое место
									p
										| Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь
									a(href="#" class="btn btn_color-main btn_fat")
										| Отправить
										<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
											<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
										</svg>
	div(class="table-int")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12")
					h2(class="text-center")
						| Комплектации и цены VOLVO XC40
				div(class="col-12")
					<ul class="nav nav-tabs" id="TabTable" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="table-1-tab" data-toggle="tab" href="#table-1" role="tab" aria-controls="table-1" aria-selected="true">
								span
									| XC40
								span
									| от 2 253 000 ₽
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="table-2-tab" data-toggle="tab" href="#table-2" role="tab" aria-controls="table-2" aria-selected="false">
								span
									| MOMENTUM
								span
									| от 2 253 000 ₽
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="table-3-tab" data-toggle="tab" href="#table-3" role="tab" aria-controls="table-3" aria-selected="false">
								span
									| INSCRIPTION
								span
									| от 2 253 000 ₽
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="table-4-tab" data-toggle="tab" href="#table-4" role="tab" aria-controls="table-4" aria-selected="false">
								span
									| R-DESIGN
								span
									| от 2 253 000 ₽
							</a>
						</li>
					</ul>
	div(class="carcopycard pt-0 pt-lg-3")
		div(class="container-fluid pb-lg-5")
			div(class="row pb-5")
				div(class="col-12")
					h2(class="text-center table-int_h2")
						| Модификации
				div(class="col-12")
					<div class="tab-content carcopycard__table" id="TabTableContent">
						<div class="tab-pane fade show active" id="table-1" role="tabpanel" aria-labelledby="table-1-tab">
							div(class="d-lg-none")
								<ul class="nav nav-pills" id="pills-TabTableMobile" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="pills-1-tablemobile-a" data-toggle="pill" href="#pills-1-tablemobile" role="tab" aria-controls="pills-1-tablemobile" aria-selected="true">D3</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-2-tab-tablemobile-a" data-toggle="pill" href="#pills-2-tablemobile" role="tab" aria-controls="pills-2-tablemobile" aria-selected="false">D3 AWD</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-3-tab-tablemobile-a" data-toggle="pill" href="#pills-3-tablemobile" role="tab" aria-controls="pills-3-tablemobile" aria-selected="false">D4</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-4-tab-tablemobile-a" data-toggle="pill" href="#pills-4-tablemobile" role="tab" aria-controls="pills-4-tablemobile" aria-selected="false">T4</a>
									</li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-1-tablemobile" role="tabpanel" aria-labelledby="pills-1-tab-tablemobile">
										table(class="table ")
											tbode()
												tr()
													td()
														| Двигатель
													td()
														| 2,0 л<span>Дизель, 150 л.с.</span>
												tr()
													td()
														| Трансмиссия
													td()
														| АКПП<br><span>8 ступеней</span>
												tr()
													td()
														| Привод
													td()
														| 2x4<span>Передний</span>
												tr()
													td()
														| Расход<br>Смешанный цикл
													td()
														| 4,7<span>Литров</span>
												tr()
													td()
														| Разгон<br>до 100 км/ч
													td()
														| 0,2<span>Секунд</span>
												tr()
													td()
														| Цена
													td()
														| от 2 253 000 ₽
									</div>
									<div class="tab-pane fade" id="pills-2-tablemobile" role="tabpanel" aria-labelledby="pills-2-tablemobile">2</div>
									<div class="tab-pane fade" id="pills-3-tablemobile" role="tabpanel" aria-labelledby="pills-3-tablemobile">3</div>
									<div class="tab-pane fade" id="pills-4-tablemobile" role="tabpanel" aria-labelledby="pills-4-tablemobile">4</div>
								</div>
								
							table(class="d-none d-lg-table table")
								thead()
									tr()
										th()
										th()
											| Двигатель
										th()
											| Трансмиссия
										th()
											| Привод
										th()
											| Расход<br>Смешанный цикл

										th()
											| Разгон<br>до 100 км/ч
										th()
											| Цена
								tbody()
									tr()
										td()
											| D3
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
									tr()
										td()
											| D3 AWD
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
									tr()
										td()
											| D4
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
									tr()
										td()
											| T4
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
						</div>
						<div class="tab-pane fade" id="table-2" role="tabpanel" aria-labelledby="table-2-tab">
							div(class="d-lg-none")
								<ul class="nav nav-pills" id="pills-TabTableMobile" role="tablist">
									<li class="nav-item">
										<a class="nav-link active" id="pills-5-tablemobile-a" data-toggle="pill" href="#pills-5-tablemobile" role="tab" aria-controls="pills-5-tablemobile" aria-selected="true">D3</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-6-tab-tablemobile-a" data-toggle="pill" href="#pills-6-tablemobile" role="tab" aria-controls="pills-6-tablemobile" aria-selected="false">D3 AWD</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-7-tab-tablemobile-a" data-toggle="pill" href="#pills-7-tablemobile" role="tab" aria-controls="pills-7-tablemobile" aria-selected="false">D4</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" id="pills-8-tab-tablemobile-a" data-toggle="pill" href="#pills-8-tablemobile" role="tab" aria-controls="pills-8-tablemobile" aria-selected="false">T4</a>
									</li>
								</ul>
								<div class="tab-content" id="pills-tabContent">
									<div class="tab-pane fade show active" id="pills-5-tablemobile" role="tabpanel" aria-labelledby="pills-5-tab-tablemobile">
										table(class="table ")
											tbode()
												tr()
													td()
														| Двигатель
													td()
														| 2,0 л<span>Дизель, 150 л.с.</span>
												tr()
													td()
														| Трансмиссия
													td()
														| АКПП<br><span>8 ступеней</span>
												tr()
													td()
														| Привод
													td()
														| 2x4<span>Передний</span>
												tr()
													td()
														| Расход<br>Смешанный цикл
													td()
														| 4,7<span>Литров</span>
												tr()
													td()
														| Разгон<br>до 100 км/ч
													td()
														| 0,2<span>Секунд</span>
												tr()
													td()
														| Цена
													td()
														| от 2 253 000 ₽
									</div>
									<div class="tab-pane fade" id="pills-6-tablemobile" role="tabpanel" aria-labelledby="pills-6-tablemobile">2</div>
									<div class="tab-pane fade" id="pills-7-tablemobile" role="tabpanel" aria-labelledby="pills-7-tablemobile">3</div>
									<div class="tab-pane fade" id="pills-8-tablemobile" role="tabpanel" aria-labelledby="pills-8-tablemobile">4</div>
								</div>
								
							table(class="d-none d-lg-table table")
								thead()
									tr()
										th()
										th()
											| Двигатель
										th()
											| Трансмиссия
										th()
											| Привод
										th()
											| Расход<br>Смешанный цикл

										th()
											| Разгон<br>до 100 км/ч
										th()
											| Цена
								tbody()
									tr()
										td()
											| D3
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
									tr()
										td()
											| D3 AWD
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
									tr()
										td()
											| D4
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
									tr()
										td()
											| T4
										td()
											| 2,0 л<span>Дизель, 150 л.с.</span>
										td()
											| АКПП<br><span>8 ступеней</span>
										td()
											| 2x4<span>Передний</span>
										td()
											| 4,7<span>Литров</span>
										td()
											| 10,2<span>Секунд</span>
										td()
											| от 2 253 000 ₽
						</div>
						<div class="tab-pane fade" id="table-3" role="tabpanel" aria-labelledby="table-3-tab">3</div>
						<div class="tab-pane fade" id="table-4" role="tabpanel" aria-labelledby="table-4-tab">4</div>
					</div>



