extends base.pug
block content
	div(class="callback carrun")
		- var title = 'Автомобили Volvo с пробегом у официального дилера'
		- var description = 'Программа Volvo Selekt — это готовность Volvo предоставить Вам не только качественный автомобиль, но и дополнительные услуги, благодаря чему автомобили Volvo Selekt максимально приближены к новым автомобилям.'
		- var btn = false
		include components/preview.pug
		div(class="container-fluid")
			div(class="carrun__content")
				div(class="row pb-5")
					div(class="col-12 col-lg-3")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Автомобили в продаже</li>
							</ol>
						</nav>
					div(class="col-12 col-lg-9 pt-5 pt-lg-0")
						div(class="sort")
							a(class="sort__item" href="#")
								| по цене
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
				div(class="row pb-5")
					form(class="col-12 col-lg-3 pb-5 pb-lg-0")
						div(class="filter")
							<fieldset>
								<select  id="model">
									<option class="d-none" disabled selected="selected">Модель или кузов</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							
							<fieldset>
								<select  id="typeengine">
									<option class="d-none" disabled selected="selected">Тип двигателя</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							span(class="filter__text")
								| Цвет
							div(class="d-flex align-items-center flex-wrap pt-2 pb-3")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #fff;border: 1px solid #979797;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #000;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #D8D8D8;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #75D010;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #FA2424;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #EACB98;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #3A6AEC;")
							<button type="submit" class="mt-4 btn btn_color-main w-100">
								| Искать
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
							</button>
							
					div(class="col-12 col-lg-9 carrun__list")
						div(class="row")
							- for (var i = 0; i < 9; i++)
								div(class="col-12 col-lg-6 col-xl-4 pb-5")
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| s60
											span(class="avto-row_3")
												| от 2 820 000 Ꝑ
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
										div(class="description")
											span
												| XC60, T5 AWD, Inscription, АКПП, неметаллик/стандарт Белый, ICE WHITE, 2019 г.
										div(class="pt-4")
											a(href="#" class="avto-row__link")
												span
													| Карточка модели
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
													<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
												</svg>
											a(href="#" class="avto-row__link")
												span
													| Получить предложение
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
													<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)" stroke-miterlimit="10" stroke-width="1"/>
												</svg>