extends base.pug
block content
	div(class="callback carrun")
		- var title = 'Автомобили Volvo с пробегом у официального дилера'
		- var description = 'Программа Volvo Selekt — это готовность Volvo предоставить Вам не только качественный автомобиль, но и дополнительные услуги, благодаря чему автомобили Volvo Selekt максимально приближены к новым автомобилям.'
		- var btn = false
		include components/preview.pug
		div(class="container-fluid")
			div(class="carrun__content")
				div(class="row pb-5")
					div(class="col-12 col-lg-3")
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Главная</a></li>
								<li class="breadcrumb-item active" aria-current="page">Автомобили с проблегом</li>
							</ol>
						</nav>
					div(class="col-12 col-lg-9 pt-5 pt-lg-0")
						div(class="sort")
							a(class="sort__item" href="#")
								| по цене
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
							a(class="sort__item active" href="#")
								| по пробегу
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
							a(class="sort__item" href="#")
								| по году выпуска
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
				div(class="row pb-5")
					form(class="col-12 col-lg-3 pb-5 pb-lg-0")
						div(class="filter")
							<fieldset>
								<select  id="model">
									<option class="d-none" disabled selected="selected">Модель или кузов</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							<fieldset class="filter__pad">
								div(class="pb-4")
									span(class="filter__text")
										| Цена
								div(id="price")
								div(class="price__out pt-3")
									div(class="price__prev")
										span(class="filter__text")
											| От 0
									div(class="price__next")
										span(class="filter__text")
											| До 0
							</fieldset>
							<fieldset class="filter__pad">
								div(class="pb-4")
									span(class="filter__text")
										| Год
								div(id="year")
								div(class="year__out pt-3")
									div(class="price__prev")
										span(class="filter__text")
											| От 0
									div(class="price__next")
										span(class="filter__text")
											| До 0
							</fieldset>
							<fieldset class="filter__pad">
								div(class="pb-4")
									span(class="filter__text")
										| Пробег
								div(id="run")
								div(class="run__out pt-3")
									div(class="price__prev")
										span(class="filter__text")
											| От 0
									div(class="price__next")
										span(class="filter__text")
											| До 0
							</fieldset>
							<fieldset>
								<select  id="typeengine">
									<option class="d-none" disabled selected="selected">Тип двигателя</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							<fieldset>
								<select  id="typekpp">
									<option class="d-none" disabled selected="selected">Тип КПП</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							<fieldset>
								<select  id="privod">
									<option class="d-none" disabled selected="selected">Привод</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							<fieldset>
								<select  id="volume">
									<option class="d-none" disabled selected="selected">Объем двигателя</option>
									<option>Slow</option>
									<option>Medium</option>
									<option>Fast</option>
									<option>Faster</option>
								</select>
							</fieldset>
							span(class="filter__text")
								| Цвет
							div(class="d-flex align-items-center flex-wrap pt-2 pb-3")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #fff;border: 1px solid #979797;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #000;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #D8D8D8;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #75D010;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #FA2424;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #EACB98;")
								label(class="filter__color")
									input(type="radio" name="color")
									span(style="background-color: #3A6AEC;")
							<button type="submit" class="mt-4 btn btn_color-main w-100">
								| Искать
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
							</button>
							
					div(class="col-12 col-lg-9 carrun__list")
						div(class="row")
							- for (var i = 0; i < 9; i++)
								div(class="col-12 col-md-6 col-xl-4")
									div(class="carrun__item")
										div(class="carrun__preview")
											div(class="carrun__images")
												img(class="lazyload w-100 active" data-src="images/carrun.png" alt="img" data-slide="1")
												img(class="lazyload w-100" data-src="images/p1.png" alt="img" data-slide="2")
												img(class="lazyload w-100" data-src="images/p3.png" alt="img" data-slide="3")
												img(class="lazyload w-100" data-src="images/credit.png" alt="img" data-slide="4")
											div(class="carrun__dots")
												span(class="carrun__dot" data-slide-show="1")
												span(class="carrun__dot" data-slide-show="2")
												span(class="carrun__dot" data-slide-show="3")
												span(class="carrun__dot" data-slide-show="4")
										div(class="carrun__wrapper")
											h2(class="carrun__title")
												| Volvo S60 <span>AWD Inscription</span>
											div(class="carrun__setting")
												span
													| 2015 г.
												span
													| 82200 км
												span
													| АКПП
												span
													| Черный
											span(class="carrun__price")
												| 1 170 000 ₽
											a(class="carrun__link btn btn_color-main w-100" href="#")
												| Карточка модели
												<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
													<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
												</svg>
