extends base.pug
block content
	div(class="contentpage")
		- var title = 'Контентная страница'
		- var description = "С возможными элементами"
		- var btn = false
		include components/preview.pug
		div(class="contentpage__content")
			div(class="container-fluid")
				div(class="row pb-5")
					div(class="col-12 col-lg-6 d-flex flex-column justify-content-center align-items-start credit__right order-2 order-lg-1 contentpage__content__right")
						h2
							| Экстерьер
						p
							| Volvo XC40 — автомобиль, который обладает всем необходимым для комфортного вождения. Он прекрасно вписывается в городскую среду благодаря компактным размерам и современному внешнему виду. Автомобиль оснащен комплексом систем безопасности, которые помогают снизить стресс от движения в городском потоке, комфортно выехать из двора и легко припарковаться. Продуманная организация пространства, наличие больших и удобных ниш для хранения в салоне позволят расположить в XC40 всё необходимое. Интуитивно понятные технологии, большой центральный сенсорный дисплей создают ощущение полного контроля и связи с современным цифровым миром.
						a(href="#" class="btn btn_color-main  btn_no-border")
							| Перейти
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
					div(class="col-12 col-lg-6 pb-5 pb-lg-0 order-1 order-lg-2")
						img(class="w-100 lazyload" data-src="images/cp.png" alt="img")
				div(class="row pt-5")
					-for (var i = 0; i < 3; i++)
						div(class="col-12 col-lg-6 col-xl-4 pb-5")
							div(class="service__item")
								div(class="service__preview")
									img(class="lazyload w-100" data-src="http://via.placeholder.com/368x216" alt="img")
								h2
									| Блок с акцией
								p
									| commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								a(href="#" class="btn btn_color-main btn_fat")
									| Перейти
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
										<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
									</svg>
				div(class="row contentpage__first")
					div(class="col-12 col-lg-6 pb-5 pb-lg-0 order-1")
						img(class="w-100 lazyload" data-src="images/cp2.png" alt="img")
					div(class="col-12 col-lg-6  credit__right order-2 contentpage__content__left")
						h2
							| Экстерьер
						p
							| Volvo XC40 — автомобиль, который обладает всем необходимым для комфортного вождения. Он прекрасно вписывается в городскую среду благодаря компактным размерам и современному внешнему виду. Автомобиль оснащен комплексом систем безопасности, которые помогают снизить стресс от движения в городском потоке, комфортно выехать из двора и легко припарковаться. Продуманная организация пространства, наличие больших и удобных ниш для хранения в салоне позволят расположить в XC40 всё необходимое. Интуитивно понятные технологии, большой центральный сенсорный дисплей создают ощущение полного контроля и связи с современным цифровым миром.
						a(href="#" class="btn btn_color-main  btn_no-border")
							| Перейти
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
				div(class="row contentpage__second")
					div(class="col-12")
						h2(class="text-center")
							| Блок текста с центровкой
						p(class="text-center")
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				div(class="row contentpage__third")
					-for (var i = 1; i < 5; i++)
						div(class="col-12 col-lg-3 pb-5 pb-lg-0")
							div()
								img(class="lazyload w-100" data-src="images/p"+i+".png" alt="img")
								h3
									| Приемущество
								p
									| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				div(class="row contentpage__four")
					div(class="col-12")
						p
							| * Программа осуществляется в сотрудничестве АО ЮниКредит Банк, ген. лиц. ЦБ РФ No 1 от 22.12.2014. Первоначальный взнос — 50%, срок кредита — 12 мес., валюта кредита — рубль РФ. Сумма кредита от 100 000 руб. до 3 700 000 руб. Процент по кредиту начисляется на весь объем заемных средств. Обеспечение по кредиту — залог приобретаемого автомобиля. Банк принимает решение о выдаче кредита на основании всей предоставленной информации в соответствии с установленными требованиями банка к заёмщикам. Возможно включение в сумму кредита страховых премий по страхованию залога, страхованию жизни и потери трудоспособности и сервисных услуг. Предложение ограничено. Программа действует с 01.04.2019 по 30.06.2019, если участвующие в акции автомобили не будут распроданы ранее, распространяется на модель XC90 марки Volvo модельного 2019 года, реализуемую в официальных дилерских центрах в РФ. Данное кредитное предложение носит информационный характер, не является публичной офертой, определяемой положениями Статьи 437 ГК РФ. Доп. информация о сроках и условиях программы — в официальных дилерских центрах Volvo Cars. Программа осуществляется в сотрудничестве с Банк ВТБ (ПАО), ген. лиц. Банка России № 1000 . Базовые условия программы: приобретение нового автомобиля марки VOLVO для модели XC90 2019 модельного года. Ставка по кредиту (% годовых) при первоначальном взносе от 50% — 3,5% на срок 12 месяцев. Валюта кредита — рубли. Требуемые документы: паспорт РФ, водительское удостоверение (при наличии). Погашение задолженности по кредиту: ежемесячными аннуитетными платежами в течение срока кредита. Обязательное страхование залога осуществляется в соответствии с тарифами страховой компании. В случае несвоевременного исполнения обязательств по возврату кредита и/или погашению процентов, комиссий заемщик уплачивает неустойку в виде пени в размере 0,1% в день от суммы невыполненных обязательств. Подробнее о программе — на сайте vtb.ru. Условия действительны с 01.04.2019 по 30.06.2019 года. Данное предложение носит информационный характер, не является публичной офертой Банка ВТБ (ПАО) и / или ООО «Вольво Карс». Банк ВТБ (ПАО) не занимается реализацией автомобилей на коммерческой основе, а также не осуществляет страховую деятельность. Генеральная лицензия Банка России № 1000. Реклама.


					
						

