extends base.pug
block content
	div(class="callback contacts")
		- var title = 'Контактная информация'
		- var description = 'Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь наших клиентов проще и удобнее. Так будет выглядеть сервис Volvo в скором будущем. Все больше и больше дилеров переходят на работу по новой схеме. Скоро данными преимуществами сможете воспользоваться и вы.'
		- var btn = false
		include components/preview.pug
		div(class="container-fluid")
			div(class="row")
				div(class="col-12")
					div(class="callback__content")
						div(class="row")
							div(class='col-12 col-lg-6')
								h2()
									| Контактная иформация
								span(class="contacts__text pb-5")
									| <b>Адрес</b><br>420087, г. Казань,ул. Родины д.1В,  Горки
								span(class="contacts__text")
									| <b>Телефоны</b><br>
								span(class="contacts__text")
									|Салон: 
									a(href="tel:84994551162")
										| 8 (499) 455-1162
								span(class="contacts__text pb-5")
									| Технический центр: 
									a(href="tel:84994551162")
										| 8 (499) 455-1162
								span(class="contacts__text")
									| <b>Режим работы: каждый день, без выходных</b><br>Салон: с 09:00 до 22:00<br>Технический центр: с 08:00 до 22:00
							div(class='col-12 col-lg-6 pt-5 pt-lg-0')
								<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.7859558450427!2d49.190439424487344!3d55.76001909572174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eadc2b6560c5b%3A0xf327fe50aa0498d7!2z0YPQuy4g0KDQvtC00LjQvdGLLCAxLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDEwMQ!5e0!3m2!1sru!2sru!4v1581323282632!5m2!1sru!2sru" width="100%" height="427" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
		include components/callbackmin.pug
