extends base.pug
block content
	div(class="service")
		- var title = 'Финансовые услуги'
		- var description = 'Выбор правильного автомобиля всегда сопряжён с выбором приемлемых финансовых условий. В Volvo готовы представить вам несколько продуктов, с'
		- var btn = false
		include components/preview.pug
		div(class="container-fluid service__wrapper")
			div(class="row")
				each val, index in ['Трейд-ин', 'Кредитование', 'Страхование', 'Лизинг', 'Рент', 'Корпоративные продажи']
					div(class="col-12 col-lg-6 col-xl-4 pb-5")
						div(class="service__item")
							div(class="service__preview")
								img(class="lazyload w-100" data-src="http://via.placeholder.com/368x216" alt="img")
							h2
								= val
							p
								| Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь
							a(href="#" class="btn btn_color-main btn_fat")
								| Перейти
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>


