extends base.pug
block content
	include components/welcomeSliderBig.pug
	div(class="container-fluid model-row d-none d-lg-block")
		div(class="row")
			div(class="col-12")
				h1(class="h2 text-center")
					| Модельный ряд
		div(class="row")
			- arr = ['', '', 'CROSS COUNTRY', 'CROSS COUNTRY', 'CROSS COUNTRY', '', '', '']
			each val, index in ['S60', 's90', 'v60', 'v90', 'v40', 'xc90', 'xc60', 'xc40']
				div(class="col d-flex justify-content-center align-items-center")
					a(class="model-row__item" href="#")
						span
							= val
						span
							= arr[index]
	include components/sliderNews.pug
	
	div(class="container-fluid avto-row")
		div(class="row")
			div(class="col-12")
				h2(class="text-center")
					| Модельный ряд
		div(class="row")
			div(class="col-12")
				include components/sliderAvto.pug

