extends base.pug
block content
	div(class="item-car")
		div(class="container-fluid")
			div(class="row")
				div(class="col-12")
					div(class="item-car__preview")
						div(class="item-car__preview__left")
							img(class="lazyload" data-src="images/itemCar/p.png" alt="img")
						div(class="item-car__preview__right")
							img(class="ci lazyload" data-src="images/itemCar/1.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/2.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/3.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/4.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/5.png" alt="img")
							img(class="ci lazyload" data-src="images/itemCar/6.png" alt="img")
			div(class="row")
				div(class="col-12")
					h1(class="h2")
						| Volvo S60
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#">Главная</a></li>
							<li class="breadcrumb-item"><a href="#">Автомобили с проблегом</a></li>
							<li class="breadcrumb-item active" aria-current="page">Поиск</li>
						</ol>
					</nav>
			div(class="row")
				div(class="col-12 col-lg-8 order-2 order-lg-1")
					div(class="item-car__header d-flex justify-content-between")
						div()
							span
								| Кузов
							span
								| Седан
						div()
							span
								| Пробег
							span
								| 82200км
						div()
							span
								| Год выпуска
							span
								| 2015
						div()
							span
								| Двигатель
							span
								| 2,0/180 л.с
						div()
							span
								| Топливо
							span
								| Бензин
						div()
							span
								| Трансмиссия
							span
								| Автоматическая
						div()
							span
								| Привод
							span
								| Полный
					div()
						h2(class="item-car__title")
							| Описание
						p(class="pb-5")
							| Репутация для нас превыше всего! Только проверенные и юридически чистые автомобили с реальной историей. Удобное расположение - 50м от ст. метро Тульская. Наши приоритеты: • Комплексная диагностика каждого автомобиля • Покупка в кредит и за наличные / любая форма оплаты • Выгодный TRADE-IN на новый автомобиль и автомобиль с пробегом • Выкуп / комиссия автомобилей • Без доп.накруток (оформление без ИТП) • Индивидуальный подход • Особые бонусы • Более 20 лет успешной работы!
						h2(class="item-car__title")
							| Комплектация
						table(class="table")
							tr
								td
									| Функция мигания стоп-сигналов при экстренном торможении
								td
									| Надувные занавесы безопасности, IC
							tr
								td
									| Подушки безопасности водителя и пассажира
								td
									| Система защиты от плетевых травм WHIPS, передние сиденья
							tr
								td
									| Сигнализация непристегнутого ремня безопасности, все сиденья
								td
									| Ремни безопасности с преднатяжителями (передние, задние)
							tr
								td
									| Подушка безопасности коленей водителя
								td
									| Крепление для детского сиденья, ISOFIX
							tr
								td
									| Боковые подушки безопасности SIPS

				div(class="col-12 col-lg-4 order-1 order-lg-2 pt-5 pt-lg-0")
					div(class="d-flex flex-column align-items-end")
						span(class="item-car__price mb-4")
							| 1 170 000 ₽
						a(href="#" class="btn btn_color-main btn_fat mb-4")
							| Купить
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>
						a(href="#" class="btn btn_color-main btn_fat btn_no-border fd")
							| Заявка на кредит
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
								<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
							</svg>

