extends base.pug
block content
	div(class="landing")
		- var title = 'Специальные условия'
		- var description = "Уже получили предложение по цене в другом салоне? Не спешите! В Volvo Inchcape мы существенно улучшим вашу выгоду!"
		- var btn = true
		include components/preview.pug
		div(class="landing__content")
			div(class="container-fluid")
				div(class="row")
					div(class="col-12 landing__first")
						p(class="text-center")
							| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					div(class="col-12")
						<ul class="landing__tabs nav nav-pills mb-3" id="pills-tab-landing" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-1-tab-landing" data-toggle="pill" href="#pills-1-landing" role="tab" aria-controls="pills-1-landing" aria-selected="true">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| s60
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-2-tab-landing" data-toggle="pill" href="#pills-2-landing" role="tab" aria-controls="pills-2-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| s90
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-3-tab-landing" data-toggle="pill" href="#pills-3-landing" role="tab" aria-controls="pills-3-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| v60
												span(class="avto-row_2")
													| CROSS<br>COUNTRY
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-4-tab-landing" data-toggle="pill" href="#pills-4-landing" role="tab" aria-controls="pills-4-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| v90
												span(class="avto-row_2")
													| CROSS<br>COUNTRY
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-5-tab-landing" data-toggle="pill" href="#pills-5-landing" role="tab" aria-controls="pills-5-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| v40
												span(class="avto-row_2")
													| CROSS<br>COUNTRY
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-6-tab-landing" data-toggle="pill" href="#pills-6-landing" role="tab" aria-controls="pills-6-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| xc90
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-7-tab-landing" data-toggle="pill" href="#pills-7-landing" role="tab" aria-controls="pills-7-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| xc60
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-8-tab-landing" data-toggle="pill" href="#pills-8-landing" role="tab" aria-controls="pills-8-landing" aria-selected="false">
									div(class="avto-row__item")
										div(class="avto-row__title")
											div(class="d-flex align-items-center")
												span(class="avto-row_1")
													| xc40
										div(class="avto-row__preview")
											img(class="lazyload w-100" data-src="http://via.placeholder.com/278x100" alt="img")
								</a>
							</li>
						</ul>
						<div class="tab-content" id="pills-tabContent-landing">
							<div class="tab-pane fade show active" id="pills-1-landing" role="tabpanel" aria-labelledby="pills-1-tab-landing">
								div(class="row")
									- for (var i = 0; i < 4; i++)
										div(class="col-lg-6 col-12 mb-5")
											div(class="landing__item")
												div(class="landing__header")
													span
														| S60
													div(class="landing__right")
														span
															| Специальная цена до 31.10.
														span
															| ВЫГОДА ДО 600 000 ₽
												div(class="landing__preview")
													img(class="lazyload w-100" data-src="http://via.placeholder.com/530x212" alt="img")
												div(class="landing__body")
													span
														| до 700 000 ₽<br>Выгода
													span
														| от 2,9%<br>Кредитная ставка
													span
														| до 400 000 ₽<br>trade-in бонус
												div(class="landing__btns")
													a(class="btn btn_color-main" href="#")
														| Получить предложение
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
													a(class="btn btn_color-main" href="#")
														| Уникальная ставка 6%
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
												div(class="landing__footer")
													a(class="btn btn_color-main" href="#")
														| Получить предложение
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
													a(class="btn btn_color-main" href="#")
														| Уникальная ставка 6%
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>

							</div>
							<div class="tab-pane fade" id="pills-2-landing" role="tabpanel" aria-labelledby="pills-2-tab-landing">
								div(class="row")
									- for (var i = 0; i < 4; i++)
										div(class="col-lg-6 col-12 mb-5")
											div(class="landing__item")
												div(class="landing__header")
													span
														| S60
													div(class="landing__right")
														span
															| Специальная цена до 31.10.
														span
															| ВЫГОДА ДО 600 000 ₽
												div(class="landing__preview")
													img(class="lazyload w-100" data-src="http://via.placeholder.com/530x212" alt="img")
												div(class="landing__body")
													span
														| до 700 000 ₽<br>Выгода
													span
														| от 2,9%<br>Кредитная ставка
													span
														| до 400 000 ₽<br>trade-in бонус
												div(class="landing__btns")
													a(class="btn btn_color-main" href="#")
														| Получить предложение
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
													a(class="btn btn_color-main" href="#")
														| Уникальная ставка 6%
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
												div(class="landing__footer")
													a(class="btn btn_color-main" href="#")
														| Получить предложение
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
													a(class="btn btn_color-main" href="#")
														| Уникальная ставка 6%
														<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
															<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
														</svg>
							</div>
							<div class="tab-pane fade" id="pills-3-landing" role="tabpanel" aria-labelledby="pills-3-tab-landing">
								3
							</div>
							<div class="tab-pane fade" id="pills-4-landing" role="tabpanel" aria-labelledby="pills-4-tab-landing">
								4
							</div>
							<div class="tab-pane fade" id="pills-5-landing" role="tabpanel" aria-labelledby="pills-5-tab-landing">
								5
							</div>
							<div class="tab-pane fade" id="pills-6-landing" role="tabpanel" aria-labelledby="pills-6-tab-landing">
								6
							</div>
							<div class="tab-pane fade" id="pills-7-landing" role="tabpanel" aria-labelledby="pills-7-tab-landing">
								7
							</div>
							<div class="tab-pane fade" id="pills-8-landing" role="tabpanel" aria-labelledby="pills-8-tab-landing">
								8
							</div>
						</div>
				div(class="landing__second")
					div(class="row")
						div(class="col-12")
							h2()
								| Trade-in
							p()
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
							form(class="form")
								div(class="form__row form__row_50")
									label
										| Поле
										input(class="" type="text" placeholder="")
									label
										| Поле
										input(class="" type="text" placeholder="")
								div(class="form__row form__row_50")
									label()
										| Выпадающий список
										<fieldset>
											<select  id="form_1">
												<option class="d-none" disabled selected="selected">Что-то</option>
												<option>Что?</option>
												<option>Ну да...</option>
												<option>dont</option>
												<option>yep</option>
											</select>
										</fieldset>
									label()
										| Выпадающий список
										<fieldset>
											<select  id="form_2">
												<option class="d-none" disabled selected="selected">Что-то</option>
												<option>Что?</option>
												<option>Ну да...</option>
												<option>dont</option>
												<option>yep</option>
											</select>
										</fieldset>
								button(class="btn ")
									| Отправить
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
										<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
									</svg>
				div(class="landing__third")
					div(class="row")
						div(class="col-12")
							h2()
								| Trade-in
							p()
								| Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
							a(href="#" class="btn")
								| Предложение
								<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
									<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
								</svg>
				div(class="landing__four")
					div(class="row")
						div(class="col-12")
							h2(class="text-center")
								| Звоните и бронируйте автомобили в наличии
					form(class="row form")
						div(class="col-12 col-lg-4 mb-5 mb-lg-0")
							<fieldset>
								<select  id="form_3">
									<option class="d-none" disabled selected="selected">Все модели</option>
									<option>Что?</option>
									<option>Ну да...</option>
									<option>dont</option>
									<option>yep</option>
								</select>
							</fieldset>
						div(class="col-12 col-lg-4 mb-5 mb-lg-0")
							<fieldset>
								<select  id="form_4">
									<option class="d-none" disabled selected="selected">Комплектация</option>
									<option>Что?</option>
									<option>Ну да...</option>
									<option>dont</option>
									<option>yep</option>
								</select>
							</fieldset>
						div(class="col-12 col-lg-4 mb-4 mb-lg-0")
							<fieldset>
								<select  id="form_5">
									<option class="d-none" disabled selected="selected">Двигатель</option>
									<option>Что?</option>
									<option>Ну да...</option>
									<option>dont</option>
									<option>yep</option>
								</select>
							</fieldset>
					-for (var i = 0; i < 4; i++)
						div(class="row landing__four__item")
							div(class="col-12 col-lg-3")
								div(class="carrun__item")
									div(class="carrun__preview")
										div(class="carrun__images")
											img(class="lazyload w-100 active" data-src="images/carrun.png" alt="img" data-slide="1")
											img(class="lazyload w-100" data-src="images/p1.png" alt="img" data-slide="2")
											img(class="lazyload w-100" data-src="images/p3.png" alt="img" data-slide="3")
											img(class="lazyload w-100" data-src="images/credit.png" alt="img" data-slide="4")
										div(class="carrun__dots")
											span(class="carrun__dot" data-slide-show="1")
											span(class="carrun__dot" data-slide-show="2")
											span(class="carrun__dot" data-slide-show="3")
											span(class="carrun__dot" data-slide-show="4")
							div(class="col-12 col-lg-3 pl-5 pt-5 pt-lg-0")
								div(class="landing__four__item_q")
									span(class="landing__four__name")
										| xc60
									span(class="landing__four__price")
										| Выгода 253 000 ₽
								p(class="landing__four__description")
									| XC60, T5 AWD, Inscription, АКПП, неметаллик/стандарт Белый, ICE WHITE, 2019 г.
							div(class="col-12 col-lg-3 pt-5 pt-lg-0")
								span(class="landing__four_1")
									| Максимальная выгода до 31.10
								a(href="#" class="landing__four_2")
									| Индивидуальные условия по телефону: +7 (495) 401-70-64
							div(class="col-12 col-lg-3 pt-5 pt-lg-0")
								a(class="carrun__link btn btn_color-main w-100 mb-5" href="#")
									| Узнать цену
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
										<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
									</svg>
								a(class="carrun__link btn btn_color-main w-100" href="#")
									| Расчитать кредит
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
										<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
									</svg>
				div(class="landing__five")
					div(class="row")
						div(class="col-12")
							form(class="form")
								h2 
									| НАЗВАНИЕ ФОРМЫ
								div(class="form__row form__row_50")
									label
										| Поле
										input(class="" type="tel" placeholder="+7 777 777 77 77")
								<div class=" d-flex align-items-start justify-content-start pb-5">
									<label class="m-0">
										<input class="checkbox" type="checkbox" id="checkbox" checked="" aria-label="Checkbox for following text input">
										<span class="checkbox__label" for="checkbox"></span>
									</label>
									<p class="form__info">Согласие на обработку <a class="form__info" href="#">персональных данных</a></p>
								</div>
								button(class="btn")
									| Действие пользователя
									<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
										<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
									</svg>
				div(class="landing__six")
					div(class="row")
						div(class="col-12")
							h2(class="text-center")
								| Контакты
				div(class="callback__content")
					div(class="row")
						div(class='col-12 col-lg-4')
							span(class="contacts__text pb-5")
								| <b>Адрес</b><br>420087, г. Казань,ул.<br>Родины д.1В,  Горки
						div(class="col-12 col-lg-4")
							span(class="contacts__text")
								| Телефоны<br>
							span(class="contacts__text")
								|Салон: 
								a(href="tel:84994551162")
									| 8 (499) 455-1162
							span(class="contacts__text pb-5")
								| Технический центр: 
								a(href="tel:84994551162")
									| 8 (499) 455-1162
						div(class="col-12 col-lg-4")
							span(class="contacts__text")
								| Режим работы: <br>Салон: с 09:00 до 22:00<br>Технический центр: с 08:00 до 22:00
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3174.7859558450427!2d49.190439424487344!3d55.76001909572174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415eadc2b6560c5b%3A0xf327fe50aa0498d7!2z0YPQuy4g0KDQvtC00LjQvdGLLCAxLCDQmtCw0LfQsNC90YwsINCg0LXRgdC_LiDQotCw0YLQsNGA0YHRgtCw0L0sIDQyMDEwMQ!5e0!3m2!1sru!2sru!4v1581323282632!5m2!1sru!2sru" width="100%" height="434" frameborder="0" style="border:0;" allowfullscreen=""></iframe>



