extends base.pug
block content
	div(class="rare callback")
		- var title = 'Спецпредложения'
		- var description = 'Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь наших клиентов проще и удобнее. Так будет выглядеть сервис Volvo в скором будущем. Все больше и больше дилеров переходят на работу по новой схеме. Скоро данными преимуществами сможете воспользоваться и вы.'
		- var btn = false
		include components/preview.pug
		div(class="container-fluid")
			div(class="row")
				div(class="col-12")
					div(class="rare__content")
						form(class="rare__filter")
							label(class="rare__select")
								select(class="")
									option( disabled selected class="d-none")
										| Выберите категорию
									option(value="1")
										| Выберите категорию 1
									option(value="2")
										| Выберите категорию 2
							label(class="rare__select")
								select(class="")
									option( disabled selected class="d-none")
										| Выберите модель
									option(value="1")
										| Выберите модель 1
									option(value="2")
										| Выберите модель 2
							label(class="rare__select")
								select(class="")
									option( disabled selected class="d-none")
										| Выберите спецпредложение
									option(value="1")
										| Выберите спецпредложение 1
									option(value="2")
										| Выберите спецпредложение 2
						-for (var i = 0; i < 3; i++)
							div(class="rare_item")
								div(class="row credit")
									div(class="col-12 col-lg-6 pr-lg-0 credit__left")
										img(class="lazyload" data-src="images/credit.png" alt="img")
									div(class="col-12 col-lg-6 pl-lg-0 credit__right")
										span(class="credit__type")
											| VOLVO XC 60
										h2(class="h2")
											| Программа кредитования Volvo XC40 со ставкой 2,9%
										p
											|Volvo первым из автопроизводителей внедряет новый тип станций техобслуживания, которые делают жизнь наших клиентов проще и удобнее. Так будет выглядеть сервис Volvo в скором будущем. Все больше и больше дилеров переходят на работу по новой схеме. Скоро данными преимуществами сможете воспользоваться и вы.
										div(class="credit__wrapper")
											div(class="row")
												div(class="col-12 col-lg-4 d-flex")
													div
														span
															| Специальные цены
														span
															| от 1 800 000 ₽
												div(class="col-12 col-lg-4 d-flex justify-content-center")
													div
														span
															| Trade in
														span
															| до 500 000 ₽
												div(class="col-12 col-lg-4 d-flex justify-content-end")
													div
														span
															| Кредитование
														span
															| 6%
										a(href="#" class="btn btn_color-main btn_fat")
											| Подробнее
											<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 8.6 4.025">
												<path  d="M0,0,3,4,0,8" transform="translate(8.3 0.4) rotate(90)"   stroke-miterlimit="10" stroke-width="1"/>
											</svg>
