.contacts {
	h1 {
		padding-bottom: 25px;
	}
	.preview {
		background-image: url("../images/preview/2.png");
	}
	
}

.contacts__text {
	font-size: 18px;
	letter-spacing: 1px;
	color: $colorBlack;
	line-height: 30px;
	display: block;
	font-family: "volvonovumlight", sans-serif;
	font-weight: normal;
	b {
		font-family: "volvonovummedium", sans-serif;
	}
	a {
		color: $colorMain;
		&:hover {
			text-decoration: none;
		}
	}
	@media (max-width: 991px) {
		font-size: 14px;
		line-height: 18px;
	}
}