.callback {
	
	.preview {
		background-image: url("../images/preview/2.png");
	}

	

	
}

.callback__content {
	padding: $paddingMain;
	padding-top: 50px;
	padding-bottom: 50px;

	h2 {
		padding-bottom: 28px;
		@media (max-width: 991px) {
			font-size: 16px;
			line-height: 22px;
		}
	}
	@media (max-width: 991px) {
		padding: 30px 20px;
	}
}