.item-car {
	padding: $paddingMain;
	padding-bottom: 40px; 
	.item-car__preview {
		padding-bottom: 30px;
		display: flex;
		.item-car__preview__left {
			width: 61.4%;
			overflow: hidden;
			img {
				height: 100%;
				min-width: 100%;
			}
			@media (max-width: 991px) {
				width: 100%;
				img {
					height: unset;
					width: 100%;
				}
			}
		}
		.item-car__preview__right {
		    width: 39.6%;
			display: flex;
			flex-wrap: wrap;

			img {
				width: 50%;
				display: block;
				cursor: pointer;
			}
			@media (max-width: 991px) {
				width: 100%;
			}
		}
		@media (max-width: 991px) {
			flex-wrap: wrap;
		}
	}

	h1 {
		padding-bottom: 16px;

	}
	.item-car__header {
		margin-top: 30px;
		margin-bottom: 40px;
		padding: 30px 40px;
		background-color: #F9F9F9;
		div {
			display: flex;
			flex-direction: column;
			span {
				&:first-child {
					color: #B3B3B3;
					font-size: 12px;
					line-height: 15px;
					font-family: "volvonovumlight", sans-serif;
					display: block;
					padding-bottom: 10px;
				}
				&:last-child {
					color: $colorBlack;
					font-size: 18px;
					line-height: 22px;
					font-family: "volvonovumlight", sans-serif;
				}
			}
		}
		@media (max-width: 1200px) {
			flex-direction: column;
			div {
				padding-bottom: 20px;
			}
		}
	}
	.item-car__title {
		font-size: 22px;
		line-height: 27px;
		color:$colorBlack;
		padding-bottom: 20px;
		font-family: "volvonovumlight", sans-serif;
	}
	p {
		font-size: 18px;
		line-height: 22px;
		color:$colorBlack;
		font-family: "volvonovumregular", sans-serif;
		letter-spacing: 1px;
	}
	.table {
		tr {
			border: 0px;
			td {
				border: 0px;
				padding-bottom: 20px;
				font-size: 14px;
				color: $colorBlack;
				line-height: 17px;
				font-family: "volvonovumlight", sans-serif;
			}
		}
	}
	.btn {
		width: 70%;
		@media (max-width: 1200px) {
			width: 100%;
		}
	}
	.fd {
		padding-left: 65px;
	}
	.item-car__price {
		display: block;
		font-size: 38px;
		line-height: 45px;
		text-align: right;
		color: $colorBlack;
		@media (max-width: 991px) {
			font-size: 24px;
			line-height: 30px;
		}
	}
	@media (max-width: 991px) {
		padding: 0 20px 20px 20px;
	}
}