/* INCLUD SASS */
@import "node_modules/bootstrap/scss/bootstrap.scss";

@import "library/slick/slick-theme.scss";
@import "library/slick/slick.scss";
@import "library/jquery-ui.css";

@import "default/_default";
@import "header/_header";
@import "button/_button";
@import "form/_form";
@import "modalWindow/_modal";
@import "footer/_footer";

@import "preview/_preview";
@import "service/_service";
@import "carcopycard/_carcopycard";
@import "callback/_callback";
@import "contacts/_contacts";
@import "rare/_rare";
@import "sidebar/_sidebar";
@import "landing/_landing";
@import "contentpage/_contentpage";
@import "carrun/_carrun";
@import "breadcrumb/_breadcrumb";
@import "car/_car";
@import "itemCar/_itemCar";

.slider {
	margin: 0px!important;

	&.slider_preview {
		@media (max-width: 991px) {
			padding: 0px!important;
			margin-right: -5px!important;
			margin-left: -5px!important;
		}
	}
	&.slider_welcome {

		.slider__item { 
			position: relative;
			img {
				width: 100%;
			}
		}
		.slider__content {
			position: absolute;
			top: 50%;
			right: 5%;
			transform: translateY(-50%);
			max-width: 350px;

			display: flex;
			flex-direction: column;
			align-items: flex-start;

			@media(max-width: 991px) {
				position: unset;
				max-width: unset;
				transform: unset;

				padding: 20px;
			}
		}
		.slider__title {
			color: $colorWhite;
			font-size: 15px;
			line-height: 20px;
			letter-spacing: 1px;
			display: block;
			padding-bottom: 30px;
			font-family: "volvonovumregular", sans-serif;
			@media (max-width: 991px) {
				font-size: 9px;
				line-height: 12px;
				padding-bottom: 10px;
			}
		}
		.slider__subtitle {
			font-family: "volvonovumregular", sans-serif;
			color: $colorWhite;
			font-size: 32px;
			line-height: 42px;
			letter-spacing: 1px;
			display: block;
			padding-bottom: 10px;
			@media (max-width: 991px) {
				font-size: 16px;
				line-height: 21px;
				padding-bottom: 10px;
			}
		}
		.slider__description {
			font-family: "volvonovumlight", sans-serif;
			color: $colorWhite;
			font-size: 14px;
			line-height: 19px;
			letter-spacing: 1px;
			display: block;
			padding-bottom: 40px;
			@media (max-width: 991px) {
				font-size: 12px;
				line-height: 16px;
				padding-bottom: 20px;
			}
		}
		@media (max-width: 991px) {
			background-color: #181819;
		}
	}
	.slick-dots {
		bottom: 44px;
		li {
			width: 100%;
			max-width: 93px;
			height: 4px;
			border-radius: 10px;
			background-color: $colorWhite;
			transition: $durationMain / 2;
			overflow: hidden;
			
			&.slick-active {
				background-color: rgba(216, 216, 216, 0.3);
				transition: $durationMain / 2;
			}
			button{
				display: none;
			}
			@media (max-width: 991px) {
				max-width: 40px;
			}
		}
		@media (max-width: 991px) {
			bottom: 5%;
		}
	}






	&.slider_news {
		.slider__item {
			display: grid;
			    grid-template-columns: repeat(12,1fr);
			    grid-template-rows: repeat(3, 1fr);
				grid-gap: 14px;
				grid-template-areas:
				    "first first first first first second second second second third third third"
				    "first first first first first four four four four third third third"
				    "first first first first first four four four four five five five";
		}
		.slider-news__item {
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				transition: $durationMain;
			}
			&:nth-child(1) {
				grid-area: first;
			}
			&:nth-child(2) {
				grid-area: second;
			}
			&:nth-child(3) {
				grid-area: third;
			}
			&:nth-child(4) {
				grid-area: four;
			}
			&:nth-child(5) {
				grid-area: five;
			}
			&:hover {
				img {
					transform: scale(1.05);
					transition: $durationMain;
				}
			}
		}

		

		@media (max-width: 991px) {
			order: 2;
			display: none;
		}
	}


	




	.slick-arrow {
		position: absolute;
		width: 14px;
		cursor: pointer;
		&.arrow_right {
			right: -35px;
			left: unset;
			top: 50%;
			transform: translateY(-50%);
		}
		&.arrow_left {
			left: -35px;
			right: unset;
			top: 50%;
			transform: translateY(-50%) scale(-1, 1);
		}
		&.slick-disabled {
			opacity: 0.2;
			&:hover {
				cursor: default;
			}
		}
	}
}


.model-row {
	padding: $paddingMain;
	padding-top: 32px;
	padding-bottom: 32px;
	h1 {
		padding-bottom: 32px;
	}
	&__item {
		display: flex;
		align-items: flex-start;
		span {
			letter-spacing: 1px;
			color: $colorBlack;
			&:first-child {
				font-size: 42px;
				line-height: 80%;
				font-family: "volvobroadpro", sans-serif;

			}
			&:last-child {
				padding-left: 4px;
				font-size: 10.5px;
				line-height: 14.7px;
				font-family: "volvonovumlight", sans-serif;
			}
		}
		&:hover {
			text-decoration: none;
		}
	}
}





.slider-news {
	position: relative;
	padding: $paddingMain;
	margin-bottom: 75px;
	.slider-news__content {
		position: absolute;
		background-color: #EFEFEF;
		left: 77px;
		top: 0px; bottom: 0px;
	    width: 37.222%;
	    padding: 60px 78px 10px 40px;
	    overflow: hidden;
	    @media (max-width: 991px) {
	    	padding: 20px;
	    	width: 100%;
	    	position: unset;
	    	order: 1;
	    }
	}
	h2 {
		padding-bottom: 49px;
	}
	p {
		padding-bottom: 20px;
	}
	.slick-dots {
		bottom: -34px;
		li {
			background: #DEDEDE;
		}
	}
	@media (max-width: 991px) {
		padding: 20px;
		margin-bottom: 0px;
	}
}


.avto-row {
	position: relative;
	padding: $paddingMain;
	padding-bottom: 80px;

	h2 {
		padding-bottom: 45px;
	}
	
	.slick-arrow {
		top: 33%!important;
	}
	@media (max-width: 991px) {
		padding: 20px;
		.slider_avto {
			padding: 0 6px;
		}
		.arrow {
			&.arrow_right {
				 right: -10px;
			}
			&.arrow_left {
				left: -10px;
				z-index: 10;
			}
		}
	}
}

.avto-row__item {
	padding: 0 10px;
}
.avto-row__title {
	display: flex;
	align-items: flex-end;
	span {
		letter-spacing: 1px;
		color: $colorBlack;
	}
}
.avto-row_1 {
	font-size: 40px;
	line-height: 90%;
	font-family: "volvobroadpro", sans-serif;
}
.avto-row_2 {
	font-size: 10px;
	line-height: 14px;
	font-family: "volvonovumlight", sans-serif;

	padding-left: 6px;
	width: 66px;
	display: inline-block;
}
.avto-row_3 {
	padding-left: 8px;
	display: inline-block;
	font-size: 15px;
	line-height: 20px;
	font-family: "volvonovumregular", sans-serif;
	b {
		font-family: "ALSRubl", sans-serif;;
	}
}
.avto-row__link {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	span {
		font-family: "volvonovumregular", sans-serif;
		font-size: 15px;
		line-height:20px;
		color: $colorMain;
	}
	svg {
		transform: rotate(-90deg);
		width: 10px;
		margin-left: 12px;
		stroke: $colorMain;
		transition: $durationMain;
	}

	&:hover {
		text-decoration: none;
		svg {
			margin-left: 20px;
			transition: $durationMain;
		}
	} 
	&:last-child {
		margin: 0px;
	}
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 26px 0 40px 0px;
	&__item {
		width: 26px;
		margin: 0 10px;
		svg {
			fill: $colorWhite;
			width: 100%;
			transition: $durationMain / 2;
		}
		&:hover {
			svg {
				fill: $colorMain;
				transition: $durationMain / 2;
			}
		}
		&:first-child {
			margin-left: 0px;
		}
		&:last-child {
			margin-right: 0px;
		}
	}
}
.slider-news__deep {
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0px; right: 0px; bottom: 0px; left: 0px;
	padding: 25px 15px 4px 25px;
	span {
		color: $colorWhite;
		display: block;
		font-size: 12px;
		line-height: 16px;
		padding-bottom: 16px;
		font-family: "volvonovumregular", sans-serif;
	}
	.slider-news__title {
		color: $colorWhite;
		display: block;
		font-size: 20px;
		line-height: 27px;
		padding-bottom: 6px;
		font-family: "volvonovumregular", sans-serif;
		@media (max-width: 1400px){
			font-size: 16px;
			line-height: 20px;
		}
		@media (max-width: 1200px){
			font-size: 16px;
			line-height: 20px;
		}
	}
	.slider-news__description {
		color: $colorWhite;
		display: block;
		font-size: 14px;
		line-height: 19px;
		font-family: "volvonovumlight", sans-serif;
	}
	&:hover {
		text-decoration: none;
	}
	@media (max-width: 1400px){
		padding: 10px 20px;
	}
	@media (max-width: 1200px){
		padding: 10px 20px;
	}
	@media (max-width: 991px) {
		padding: 20px;
	}
}
.slider-news__item {
	overflow: hidden;
	@media (max-width: 991px) {
		position: relative;
		height: 100%;
		max-height: 140px;
		img {
			max-height: 100%;
			min-width: 100%;
		}
		.slider-news__title {
			font-size: 12px;
			line-height: 14px;
		}
	}
}
.description {
	padding-top: 10px;
	span {
		display: block;
		font-size: 14px;
		line-height: 17px;
		color: $colorBlack;
	}
}
