.header {
	.header__first {
		background-color: $colorWhite;
		padding: $paddingMain;
		padding-top: 7px;
		padding-bottom: 7px;
		@media (max-width: 991px) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	.header__second {
		padding: $paddingMain;
		padding-top: 21px;
		padding-bottom: 0px;
		background-color: $colorBlack;
		.navigation__mobile {
			.navigation__item {
				display: inline-block;
			    white-space: nowrap;
				margin: 0px;
				margin-bottom: 6px;
				padding-right: 0px;
				padding-left: 0px;
				font-family: "volvonovumregular", sans-serif;
			}
			.navigation__item_arrow {
				width: 14px;
				transition: $durationMain / 2;
				&.navigation__item_arrow_active {
					transform: scale(1, -1);
					transition: $durationMain / 2;
				}
			}
		}
		@media (max-width: 991px) {
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	&__adres {
		font-size: 12px;
		line-height: 18px;
		color: $colorBlack;

		display: block;
		padding-right: 40px;
		font-family: "volvonovumregular", sans-serif;
	}
	.navigation__mobile {
		display: none;

		.navigation__item {
			padding-bottom: 4px;
			margin-bottom: 10px;
		}
		.header__deep {
			padding-top: 8px;
			display: none;
		}
	}
	@media (max-width: 991px) {
		position: fixed;
		z-index: 9999;
		top: 0px;
		left: 0px;
		right: 0px;
	}
}
.navigation {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		display: block;
		color: $colorWhite;
		font-size: 14px;
		line-height: 18px;
		border-bottom: 3px solid transparent;
		transition: $durationMain / 2;
		padding: 0 10px 18px 10px;
		margin: 0 15px;
		cursor: pointer;
		font-family: "volvonovumregular", sans-serif;
		a {
			color: $colorWhite;
			font-size: 14px;
			line-height: 18px;
			&:hover {
				text-decoration: none;
			}
		}

		&:hover {
			color: $colorWhite;
			text-decoration: none;
			border-bottom: 3px solid $colorWhite;
			transition: $durationMain / 2;
		}
		&.navigation__item_active {
			border-bottom: 3px solid $colorWhite;
			transition: $durationMain / 2;
		}
		&.navigation__item_dropdown {
			position: relative;
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 10px;
				height: 6px;
				background-image: url('../images/arrowmenu.svg');
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				right: -5px;
				top: 6px;
				transition: $durationMain / 2;
			}

			&:hover {
				.header__deep {
					z-index: 9999;
					display: block;
					top: calc(100% + 3px);
					transition: $durationMain / 2;
				}
				&:before {
					transform: scale(1, -1);
					transition: $durationMain / 2;
				}
			}
		}
		&.navigation__item_dropdown_mobile {
			display: block!important;
			padding-bottom: 0px!important;
			margin-bottom: 0px!important;
			border: 0px!important;
			&:hover {
				border-bottom: 3px solid transparent;
			}
			.header__deep {
				a {
					font-family: "volvonovumregular", sans-serif;
					margin-right: 10px;
					margin-left: 10px;
					margin-bottom: 10px;
					display: block;
					border-bottom: 3px solid transparent;
					    white-space: nowrap;
					&:hover {
						border-bottom: 3px solid $colorWhite;
					}
				}
			}
			&.navigation__item_dropdown_mobile_active {
				&:before {
					transform: scale(1, -1);
					transition: $durationMain / 2;
				}
			}
		}
		&.navigation__item_mob {
			margin: 0px;
			padding-right: 0px;
			padding-left: 0px;
			margin-bottom: 14px;
			padding-bottom: 0px;
			position: relative;
			&:hover {
				border-bottom: 3px solid transparent;
			}
			&:before {
				position: absolute;
				display: block;
				content: "";
				width: 14px;
				height: 13px;
				background-image: url('../images/arrowmenu.svg');
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				right: 0px;
				top: 8px;
				transition: $durationMain / 2;
			}
			&.navigation__item_mob_active {
				&:before {
					transform: scale(1, -1);
					transition: $durationMain / 2;
				}
			}

		}
		
	}
	.header__deep {
		display: none;
		padding: 30px 25px;
		background-color: $colorBlack;
		transition: $durationMain / 2;

		position: absolute;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		right: 0px;
		width: 220px;
		a {
			padding-bottom: 5px;
			margin-bottom: 15px;
			font-size: 12px;
			line-height: 16px;
			color: $colorWhite;
			display: inline-block;
			border-bottom: 1px solid transparent;
			font-family: "volvonovumregular", sans-serif;
			&:hover {
				border-bottom: 1px solid $colorWhite;
				transition: $durationMain / 2;
			}
			&:last-child {
				margin-bottom: 0px;
			}
		}
	}

}
.logo {
	display: block;
	width: 54px;
	img {
		width: 100%;
	}
	@media (max-width: 991px) {
		width: 46px;
	}
}
.phone {
	color: #6B6B6B;
	font-size: 18px; 
	line-height: 21px;
	transition: $durationMain / 2;
	font-family: "volvonovumregular", sans-serif;
	&:hover {
		color: $colorMain;
		text-decoration: none;
		transition: $durationMain / 2;
	}
}
.dealer {
	color: $colorBlack;
	font-size: 20px; 
	font-family: "volvonovumregular", sans-serif;
	@media (max-width: 991px) {
		font-size: 12px;
	}
}