.carcopycard {
	padding: $paddingMain;
	padding-top: 40px;
	padding-bottom: 40px;
	@media (max-width: 991px) {
		padding: 30px 20px;
	}
}


.credit {
	margin-bottom: 50px;
	.credit__left {
		overflow: hidden;
		img {
			height: 100%;
			min-width: 100%;
			@media (max-width: 991px) {
				height: unset;
				width: 100%;
			}
		}
	}
	.credit__right {
		border: 1px solid #979797;
		padding: 22px 65px!important;

		h2 {
			padding-bottom: 40px;
			font-family: "volvonovumlight", sans-serif;
			@media (max-width: 991px) {
				text-align: center;
				font-size: 16px;
				line-height: 21px;
				padding-bottom: 26px;
			}
		}
		p {

			@media (max-width: 991px) {
				text-align: center;
				line-height: 24px;
			}
		}
		@media (max-width: 991px) {
			border: 0px;
			padding: 20px 15px 0px 15px!important;
		}
		.credit__wrapper {
			.col-12 {
				justify-content: flex-start!important;
				padding-bottom: 20px;
			}
		}
	}
	.credit__type {
		display: block;
		padding-bottom: 14px;
		font-size: 12px;
		line-height: 16px;
		letter-spacing: 1px;
		color: $colorBlack;
		font-family: "volvonovumlight", sans-serif;
	}
	h1 {
		padding-bottom: 20px;
	}
	p {
		padding-bottom: 25px;
	}
	.credit__wrapper {
		padding: 14px 0px;
		border-top: 1px solid #CCCCCC;
		border-bottom: 1px solid #CCCCCC;
		margin-bottom: 25px;
		div {
			span {
				&:first-child {
					font-size: 14px;
					display: block;
					line-height: 19px;
					color: $colorBlack;
					padding-bottom: 13px;
					font-family: "volvonovumlight", sans-serif;
				}
				&:last-child {
					font-family: "volvonovummedium", sans-serif;
					font-size: 14px;
					display: block;
					line-height: 19px;
					color: $colorBlack;
				}
			}
		}
	}
	&.credit_no {
		margin: 0px;
		padding-bottom: 85px;
		.credit__right {
			border: 0px;
			padding-top: 0px!important;
			padding-left: 120px!important;

			@media (max-width: 991px) {
				padding-right: 15px!important;
				padding-left: 15px!important;
			}
		}
		&:last-child {
			padding-bottom: 50px;
		}
		@media (max-width: 991px) {
			padding-bottom: 30px!important;
		}
	}
	&.credit_left {
		.credit__right {
			padding-left: 15px!important;
			padding-right: 120px!important;
			@media (max-width: 991px) {
				padding: 0px 15px!important;
			}
		}
	}
}


.all {
	h2 {
		@media (max-width: 991px) {
			font-size: 16px;
			line-height: 21px;
		}
	}
	.all__item {
		h2 {
			font-size: 22px;
			line-height: 30px;
			padding-bottom: 18px;
			@media (max-width: 991px) {
				text-align: center;
				font-size: 16px;
				line-height: 21px;
			}
		}
		p {
			padding-bottom: 18px;
			@media (max-width: 991px) {
				text-align: center;
				font-size: 14px;
				line-height: 19px;
			}
		}

	}
	.all__preview {
		padding-bottom: 12px;
		@media (max-width: 991px) {
			margin-right: -20px;
			margin-left: -20px;
		}
	}

}






.table-int_h2 {
	@media (max-width: 991px) {
		text-align: center;
		font-size: 16px;
		line-height: 21px;
	}
}
.table-int {
	padding: 60px 0 40px 0;
	h2 {
		padding-bottom: 20px;
		@media (max-width: 991px) {
			text-align: center;
			font-size: 16px;
			line-height: 21px;
		}
	}
	.nav-tabs {
		border: 0px;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #E7E7E7;
		.nav-item {
			margin-right: 100px;

			&:last-child {
				margin-right: 0px;
			}

			@media (max-width: 991px) {
				margin: 0px;
			}
		}
		@media (max-width: 991px) {
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			border: 0px;
		}
	}
	.nav-link {
		border: 0px;
		padding-bottom: 20px;
		border-bottom: 3px solid transparent;
		span {
			display: block;
			&:first-child {
				color: $colorBlack;
				font-size: 18px;
				line-height: 24px;
				transition: $durationMain / 2;
				@media (max-width: 991px) {
					text-align: center;
				}
			}
			&:last-child {
				color: #818181;
				font-size: 16px;
				line-height: 21px;
				@media (max-width: 991px) {
					text-align: center;
				}
			}
		}
		&.active {
			border-bottom: 3px solid #2C7BCD;
			span {
				&:first-child {
					color: #2C7BCD;
					transition: $durationMain / 2;
				}
			}
		}
		@media (max-width: 991px) {
			padding-bottom: 4px;
			margin-bottom: 10px;
		}
	}
	@media (max-width: 991px) {
		padding-top: 0px;
	}
}


.carcopycard__table {
	padding: 85px 70px 0 70px;
	th {
		border: 0px!important;
		color: $colorBlack;
		font-size: 14px;
		line-height: 19px;
		font-weight: normal;
		vertical-align: top!important;
		padding-bottom: 40px;
	}
	td {
		border: 0px;
		font-size: 20px;
		line-height: 27px;
		color: $colorBlack;

		span {
			font-size: 14px;
			line-height: 19px;
			padding-top: 8px;
			display: block;
		}
		@media (max-width: 991px) {
			font-size: 14px;
			line-height: 19px;
			padding-bottom: 20px;
		}
	}
	@media (max-width: 991px) {
		padding: 60px 0 0 0 ;
	}
}


#pills-TabTableMobile {
	display: flex;
	justify-content: space-between;
	padding-bottom: 30px;
	li {
		padding: 0px;
		a {
			padding: 0px;
			color: #C3C3C3;
			font-size: 16px;
			line-height: 21px;
			letter-spacing: 1px;
			&.active {
				background: none;
				color: $colorBlack;
			}
		}
	}
}
